/*====================================================*/
/* Caractéristiques générales de la Default.Master */
/*====================================================*/

body {
    margin: 0;
    padding: 0;
    min-width:850px;
    min-height:200px;
}

#mastercontnr {
    min-height: 520px;
    height: 100vh;
    display: grid;
    grid-template-rows: 55px auto 20px;
    overflow: hidden;
}

#masterheader {
    display: grid;
    grid-template-columns: 260px minmax(400px, auto) minmax(min-content, max-content);
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 55px;
    border-block-end: 1pt solid gainsboro;
}

#masterbody {
    height: calc(100vh - 75px);
    min-height: 50px;
    margin-top: 55px;
}

#masterlogo {
    border-inline-end: 1pt solid gainsboro;
}

#masterlogo > img {
    max-width:150px;
    max-height: 50px;
}

#mastermenu {
    border-inline-start: 1pt solid gainsboro;
}

#masterfooter {
    background-color: #000;
    color: #fff;
    letter-spacing: 6px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
}

#masterlogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*===========================================*/
/* Caractéristiques générales de la bannière */
/*===========================================*/

#frmMainMaster #masterheader div[id$=company] > span,
#frmMainMaster #masterheader div[id$=guititle] > span {
    font-size: 14pt;
    font-family: Arial;
    text-align: left;
    color: #000;
}

form.blue #masterheader div[id$=company] > span {
    color: #036ab5;
}
form.orange #masterheader div[id$=company] > span {
    color: #EA5A00;
}
form.red #masterheader div[id$=company] > span {
    color: #C00303;
}
form.green #masterheader div[id$=company] > span {
    color: #51AD26;
}
form.violet #masterheader div[id$=company] > span {
    color: #8B569F;
}
form.rose #masterheader div[id$=company] > span {
    color: #EA71A8;
}
form.marron #masterheader div[id$=company] > span {
    color: #673406;
}
form.gray #masterheader div[id$=company] > span {
    color: #545454;
}
form.cyan #masterheader div[id$=company] > span {
    color: #1CBCF0;
}
form.yellow #masterheader div[id$=company] > span {
    color: #D8C825;
}


#masterinfo {
    display: grid;
    grid-template-columns: 350px repeat(4, 1fr);
    grid-template-rows: 35px 20px;
    align-items: center;
}

#masterinfo > #divcompany {
    grid-column: span 2;
    grid-row-start: 1;
}
#masterinfo > #divguititle {
    grid-column: span 3;
    grid-row-start: 1;
}

#masterinfo > #diventitymarket {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    border-block-start: 1pt solid gainsboro;
    border-inline-end: 1pt solid gainsboro;
    height: 20px;
}

#masterinfo > #divcs {
    grid-column: span 4;
    grid-row-start: 2;
    border-block-start: 1pt solid gainsboro;
    height: 20px;
}

#masterinfo > div:nth-child(2n) {
    text-align:end;
}

#masterinfo > div {
    padding : 0px 4px;
}

    #masterinfo > #divguititle span.labelGUITitle {
        font-size: 12pt;
    }


@media screen and (min-width: 1001px) and (max-width: 1200px) {

    #masterheader {
        grid-template-columns: 260px minmax(400px, auto) 120px;
    }

    #masterinfo > #divcompany {
        grid-column: auto;
    }

    #masterinfo > #divguititle {
        grid-column: span 4;
        grid-row-start: 1;
    }

    #masterinfo > #divguititle span {
        font-size: 11pt;
    }

    #masterinfo > #diventitymarket li span,
    #masterinfo > #diventitymarket li a span {
        font-size: 8pt;
    }

    #masterinfo > #divcs span.ConnectionString {
        font-size: smaller;
    }

    #mastermenu * {
        font-size: smaller;
    }
}


@media screen and (max-width: 1000px) {

    #masterheader {
        grid-template-columns: 260px minmax(400px, auto) 120px;
    }

    #masterinfo {
        grid-template-columns: 200px repeat(4, 1fr);
    }

    #masterinfo > #divcompany {
        grid-column: auto;
    }


    #masterinfo > #divguititle {
        grid-column: span 4;
        grid-row-start: 1;
    }

    #masterinfo > #divguititle span {
        font-size: 10pt;
    }

    #masterinfo > #diventitymarket li span,
    #masterinfo > #diventitymarket li a span {
        font-size: 7pt;
    }

    #masterinfo > #divcs span.ConnectionString {
        font-size: smaller;
    }

    #mastermenu *  {
        font-size : smaller;
    }
}


#mastermenu {
    display:flex;
    flex-direction:row;
}
/*a[id$=btnUserName] {
    font-size: large;
}
*/

a[id$=btnUserName].fa-icon.red {
    color: #C00303 !important;
}

a[id$=btnUserName].fa-icon.blue {
    color: #036AB5 !important;
}

a[id$=btnUserName].fa-icon.gray {
    color: #545454 !important;
}

span[id$=lblLastLogin] {
    font-weight: normal;
    /*font-size: 6pt;*/
    color: #2e2e2e !important;
}

span[id$=lblLastLogin] > i {
    font-style: normal !important;
}

span[id$=lblLastLogin] > i::before {
    font-family: 'Font Awesome 5 Free';
    padding: 0px 2px;
}

span[id$=lblLastLogin].parent-entity > i {
    color: #C94300;
}

span[id$=lblLastLogin].parent-entity > i::before {
    content: "\f1AD";
}

span[id$=lblLastLogin].parent-dept > i {
    color: #C94300;
}

span[id$=lblLastLogin].parent-dept > i::before {
    content: "\f482";
    font-weight: 900;
}


/*======================*/
/* Menu de la bannière  */
/*======================*/

#mastermenu {
    display: flex;
    align-items: center;
    justify-content: right;
}
#mastermenu:hover {
    background-color: #ccc;
    cursor: pointer!important;
}

#user-box {
    overflow: hidden;
    font-size:medium;
    white-space:nowrap;
}

#user-box.disconnect {
    display: none;
}

#user-box .dropbtn {
    border: none;
    outline: none;
    padding: 1px 10px 0px 0px;
    background-color: inherit;
}

#user-box-content {
    display: none;
    position: absolute;
    border:1pt solid gainsboro;
    background-color: #fff;
    width: 150px;
    top: 55px;
    right:-1px;
    z-index: 1;
}
#user-box-content.active {
    display: block;
}


#user-box-content .outer-arrow-up {
    right: 24px;
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    border-width: 0px 8px 8px 8px;
    border-style: solid;
}
.outer-arrow-up .inner-arrow-up {
    position: absolute;
    top: 2px;
    left: -8px;
    width: 0;
    height: 0;
    border-width: 0 8px 8px 8px;
    border-style: solid;
}
#user-box-content .outer-arrow-up.theme-up-outer-arrow {
    border-color: transparent transparent #ccd1d4 transparent;
}
#user-box-content .theme-up-outer-arrow .theme-up-inner-arrow {
    border-color: transparent transparent #ffffff transparent;
}


#user-box-content.active {
    display: block;
}

#user-box-content a {
    font-size: larger;
    float: none;
    color: #000;
    padding: 2px 10px;
    text-decoration: none;
    display: block;
    /*text-align: end;*/
    border-bottom:1pt solid gainsboro;
    line-height:30px;
}

#user-box-content a:hover {
    background-color: #ddd;
}

#user-box.dropdown:hover .dropdown-content {
    display: block;
}

#user-box #user-name {
    display: inherit;
    margin: 0px 10px;
}

#imgLogin{
    display:flow;
}

.poweroff {
    background-color: #c00303;
    color: #fff !important;
    /*padding: 6px;*/
    /*margin: 5px;*/
    border-radius: 20px;
    font-size: 14px;
    float: right;
    margin: 2px 0px;
    padding: 4px
}
/*============================*/
/* Caractéristiques générales */
/* du body                    */
/*============================*/
#contnr > * {
    background-color: transparent;
}

#summary {
    background-color: #fff;
}

#tbsummary, #tbtracker {
    background-color: #036ab5;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    color: #fff;
}


/*========================================================*/
/* Container de type GRID du body de la page d'accueil    */
/*========================================================*/
/* COL1 (260px)    : Sommaire et Tracker                  */
/* COL2 (le reste) : Main                                 */
/*--------------------------------------------------------*/
/* ROW1 (25px)     : Barre d'outils du sommaire           */
/* ROW2 (le reste) : Sommaire                             */
/* ROW3 (25px)     : Barre d'outils du tracker            */
/* ROW1 (250px)    : Tracker                              */
/*========================================================*/
#contnr {
    min-height: 200px;
    height: 100%;
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 25px auto 25px 250px;
}

/*--------------------------------------------------------*/
/* Barre d'outils du sommaire                             */
/*--------------------------------------------------------*/
/* sur COL1 et ROW1                                       */
/*--------------------------------------------------------*/
#tbsummary {
    grid-column-start: 1;
    grid-row-start: 1;
}

/*--------------------------------------------------------*/
/* Sommaire                                               */
/*--------------------------------------------------------*/
/* sur COL1 et ROW2                                       */
/*--------------------------------------------------------*/
#summary {
    grid-column-start: 1;
    grid-row-start: 2;
}

/*--------------------------------------------------------*/
/* Barre d'outils du tracker                              */
/*--------------------------------------------------------*/
/* sur COL1 et ROW3                                       */
/*--------------------------------------------------------*/
#tbtracker {
    grid-column-start: 1;
    grid-row-start: 3;
}

/*--------------------------------------------------------*/
/* Tracker                                                */
/*--------------------------------------------------------*/
/* sur COL1 et ROW4                                       */
/*--------------------------------------------------------*/
#tracker {
    grid-column-start: 1;
    grid-row-start: 4;
}

/*--------------------------------------------------------*/
/* Main                                                   */
/*--------------------------------------------------------*/
/* sur COL2 et ROW1->ROW4 avec bordure                    */
/*--------------------------------------------------------*/
#mainframe {
    grid-column-start: 2;
    grid-row: span 4;
    display: flex;
    border-left: 1pt solid gainsboro;
    overflow: hidden;
}

#mainframe > iframe {
    width: 100%;
    border: 0;
}


/*========================================================*/
/* Modification des caractéristiques de type GRID du body */
/* de la page d'accueil en fonction de l'affichage ou non */
/* du Sommaire et du Tracker                              */
/*========================================================*/
/* Sommaire fermé : classe closesummary sur #contnr       */
/* Tracker fermé  : classe closetracker sur #contnr       */
/*========================================================*/

/*---------------------------------------------------------*/
/* Sommaire OU Tracker fermé                               */
/* le GRID a désormais 3 colonnes                          */
/*---------------------------------------------------------*/
/* COL1 (25px)     : pour le sommaire ou tracker fermé     */
/* COL2 (260px)    : pour le sommaire ou tracker ouvert    */
/* ROW1 (25px)     : Barre d'outils du sommaire ET tracker */
/* ROW2 (auto)     : Sommaire ou tracker ouvert            */
/*---------------------------------------------------------*/
#contnr.closetracker,
#contnr.closesummary {
    grid-template-columns: 25px 260px 1fr;
    grid-template-rows: 25px auto;
}

/*-------------------------------------------------------------------------*/
/* Sommaire OU Tracker fermé                                               */
/*-------------------------------------------------------------------------*/
/* Tracker fermé   : la barre d'outils du sommaire ouvert est en COL2-ROW1 */
/* Sommaire fermé  : la barre d'outils du tracker ouvert est en COL2-ROW1  */
/*-------------------------------------------------------------------------*/
#contnr.closetracker > #tbsummary,
#contnr.closesummary > #tbtracker{
    grid-column-start: 2;
    grid-row-start: 1;
}

/*-------------------------------------------------------*/
/* Sommaire OU Tracker fermé                             */
/*-------------------------------------------------------*/
/* Tracker fermé   : le sommaire ouvert est en COL2-ROW2 */
/* Sommaire fermé  : le tracker ouvert est en COL2-ROW2  */
/*-------------------------------------------------------*/
#contnr.closetracker > #summary,
#contnr.closesummary > #tracker {
    grid-column-start: 2;
    grid-row-start: 2;
}

/*-------------------------------------------------------------------*/
/* Sommaire OU Tracker fermé                                         */
/*-------------------------------------------------------------------*/
/* Tracker fermé   : la barre d'outils du tracker est en COL1-ROW1   */
/* Sommaire fermé  : la barre d'outils du sommaire est en COL1-ROW1  */
/*-------------------------------------------------------------------*/
#contnr.closetracker > #tbtracker,
#contnr.closesummary > #tbsummary {
    grid-column-start: 1;
    grid-row-start: 1;
}

/*------------------------------------------------*/
/* Sommaire OU Tracker fermé                      */
/*------------------------------------------------*/
/* Tracker fermé   : le tracker est en COL1-ROW2  */
/* Sommaire fermé  : le sommaire est en COL1-ROW2 */
/*------------------------------------------------*/
#contnr.closetracker > #tracker,
#contnr.closesummary > #summary {
    grid-column-start: 1;
    grid-row-start: 2;
}

/*-----------------------------------------------------*/
/* Sommaire OU Tracker fermé                           */
/*-----------------------------------------------------*/
/* la zone principale (main) est en COL3 et ROW1->ROW2 */
/*-----------------------------------------------------*/
#contnr.closetracker > #mainframe,
#contnr.closesummary > #mainframe {
    grid-column-start: 3;
    grid-row: span 2;
    display: flex;
}

/*----------------------------*/
/* Sommaire OU Tracker fermé  */
/*----------------------------*/
/* le fond est noir           */
/*----------------------------*/
#contnr.closetracker > #tbtracker,
#contnr.closetracker > #tracker,
#contnr.closesummary > #tbsummary,
#contnr.closesummary > #summary {
    background-color: #000;
}

/*----------------------------*/
/* Sommaire OU Tracker fermé  */
/*----------------------------*/
/* le contenu est masqué      */
/*----------------------------*/
#contnr.closetracker > #tracker div,
#contnr.closesummary > #summary div {
    visibility: hidden !important;
}

/*----------------------------------*/
/* Sommaire OU Tracker fermé        */
/*----------------------------------*/
/* pas de bordure sur son container */
/*----------------------------------*/
#contnr.closetracker > section[id$='tracker'],
#contnr.closesummary > section[id$='summary'] {
    border: none;
}

/*--------------------------------------------------------*/
/* Sommaire OU Tracker fermé                              */
/*--------------------------------------------------------*/
/* les éléments de la barre d'outils du sommaire fermé ou */
/* tracker fermé sont regroupés vers la fin du container  */
/* => le bouton d'ouverture                               */
/*--------------------------------------------------------*/
#contnr.closetracker > #tbtracker,
#contnr.closesummary > #tbsummary {
    justify-content: flex-end;
}

/*-----------------------------------------------------------*/
/* Sommaire OU Tracker fermé                                 */
/*-----------------------------------------------------------*/
/* les élements de la barre d'outils du sommaire fermé ou    */
/* du tracker fermé sont masqués (sauf le bouton d'ouverture */
/*-----------------------------------------------------------*/
#contnr.closetracker > #tbtracker > a:not(:last-child),
#contnr.closesummary > #tbsummary > a:not(:last-child) {
    visibility: hidden;
}

/*-----------------------------------------------------------------*/
/* Sommaire OU Tracker fermé                                       */
/*-----------------------------------------------------------------*/
/* Propriétés du titre affiché sur sommaire fermé ou tracker fermé */
/* Ecriture verticale tracker et debout                            */
/*-----------------------------------------------------------------*/
#contnr.closetracker > #tracker:before,
#contnr.closesummary > #summary:before {
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: fixed;
    color: #fff;
    margin-left: 3px;
}

/*---------------------------*/
/* Tracker fermé             */
/*---------------------------*/
/* on écrit le titre TRACKER */
/*---------------------------*/
#contnr.closetracker > #tracker:before {
    content: 'TRACKER';
}
/*---------------------------*/
/* Sommaire fermé            */
/*---------------------------*/
/* on écrit le titre SUMMARY */
/*---------------------------*/
#contnr.closesummary > #summary:before {
    content: 'SUMMARY';
}

/*---------------------------------------------------------*/
/* Sommaire ET Tracker fermé                               */
/* le GRID conserve ses trois colonnes                     */
/* = Sommaire fermé OU Tracker fermé                       */
/*---------------------------------------------------------*/
/* ROW1 (25px)     : Barre d'outils du sommaire fermé      */
/* ROW2 (150px)    : Sommaire fermé                        */
/* ROW3 (25px)     : Barre d'outils du tracker fermé       */
/* ROW4 (150px)    : Tracker fermé                         */
/*---------------------------------------------------------*/
#contnr.closetracker.closesummary,
#contnr.closesummary.closetracker {
    grid-template-rows: 25px 150px 25px auto;
}

/*------------------------------------------------*/
/* Sommaire ET Tracker fermé                      */
/*------------------------------------------------*/
/* la barre d'outils du sommaire est en COL1-ROW1 */
/*------------------------------------------------*/
#contnr.closetracker.closesummary > #tbsummary,
#contnr.closesummary.closetracker > #tbsummary {
    grid-column-start: 1;
    grid-row-start: 1;
}

/*------------------------------------------------*/
/* Sommaire ET Tracker fermé                      */
/*------------------------------------------------*/
/* le sommaire est en COL1-ROW2                   */
/*------------------------------------------------*/
#contnr.closetracker.closesummary > #summary,
#contnr.closesummary.closetracker > #summary {
    grid-column-start: 1;
    grid-row-start: 2;
}
#contnr.portal.closetracker.closesummary > #summary,
#contnr.portal.closesummary.closetracker > #summary {
    grid-column-start: 1;
    grid-row-start: 2;
}

/*------------------------------------------------*/
/* Sommaire ET Tracker fermé                      */
/*------------------------------------------------*/
/* la barre d'outils du tracker est en COL1-ROW3  */
/*------------------------------------------------*/
#contnr.closetracker.closesummary > #tbtracker,
#contnr.closesummary.closetracker > #tbtracker {
    grid-column-start: 1;
    grid-row-start: 3;
}
#contnr.portal.closetracker.closesummary > #tbtracker,
#contnr.portal.closesummary.closetracker > #tbtracker {
    grid-column-start: 1;
    grid-row-start: 3;
}

/*------------------------------------------------*/
/* Sommaire ET Tracker fermé                      */
/*------------------------------------------------*/
/* le tracker est en COL1-ROW4                    */
/*------------------------------------------------*/
#contnr.closetracker.closesummary > #tracker,
#contnr.closesummary.closetracker > #tracker {
    grid-column-start: 1;
    grid-row-start: 4;
}
/*------------------------------------------------*/
/* Sommaire ET Tracker fermé                      */
/*------------------------------------------------*/
/* la zone principale (main) est en COL2-> COL3   */
/* et ROW1->ROW4                                  */
/*------------------------------------------------*/
#contnr.closetracker.closesummary > #mainframe,
#contnr.closesummary.closetracker > #mainframe {
    grid-column: span 2;
    grid-row: span 4;
    display: flex;
}
#contnr.portal.closetracker.closesummary > #mainframe,
#contnr.portal.closesummary.closetracker > #mainframe {
    grid-column: span 2;
    grid-row: span 4;
    display: flex;
}

/*========================================================*/
/* PORTAIL :                                              */
/* Container de type GRID du body de la page d'accueil    */
/*========================================================*/
/* COL1 (260px)    : Sommaire                             */
/* COL2 (le reste) : Main                                 */
/*--------------------------------------------------------*/
/* ROW1 (25px)     : Barre d'outils du sommaire           */
/* ROW2 (le reste) : Sommaire                             */
/*========================================================*/


#contnr.portal {
    grid-template-rows: 25px auto;
}

#contnr.portal > #tbtracker,
#contnr.portal > #tracker {
    display: none;
}
    #contnr.portal.closesummary {
        grid-template-columns: 25px auto;
    }
/*
        #contnr.portal.closetracker > #tbsummary,
        #contnr.portal.closesummary > #tbtracker {
            grid-column-start: 2;
            grid-row-start: 1;
        }

        #contnr.portal.closetracker > #summary,
        #contnr.portal.closesummary > #tracker {
            grid-column-start: 2;
            grid-row-start: 2;
        }

        #contnr.portal.closetracker > #tbtracker,
        #contnr.portal.closesummary > #tbsummary {
            grid-column-start: 1;
            grid-row-start: 1;
        }

        #contnr.portal.closetracker > #tracker,
        #contnr.portal.closesummary > #summary {
            grid-column-start: 1;
            grid-row-start: 2;
        }
        */
        #contnr.portal.closetracker > #mainframe,
        #contnr.portal.closesummary > #mainframe {
            grid-column-start: 2;
            grid-row: span 2;
            display: flex;
        }





/*===========================*/
/* Spécificités du tracker   */
/*===========================*/


/*------------------------------------------------------*/
/* Onglets du Tracker : ACTIVE / REQUESTED / TERMINATED */
/*------------------------------------------------------*/
#tabs {
    height: 100%;
    background-color: #fff;
    position: relative;
    padding: 0;
}
#tabs > ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #fff;
    padding: .2em;
}
#tabs > ul > li {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#tabs > ul > li > span {
    background-color: #000;
    line-height: 1.5;
    width: 24px;
    padding: 0 1px;
    text-align: center;
}

#tabs > ul > li > a {
    padding: 0 0.5em;
}

#tabs > ul > li:last-child > a {
    padding: 0 0.4em;
}

.tabs-top .ui-tabs-panel {
    /*height: auto;*/
    /*overflow: hidden;*/
    padding: 0;
}


/*------------------------------------------------------*/
/* Onglets du Tracker : ACTIVE / REQUESTED / TERMINATED */
/*------------------------------------------------------*/
/* Couleur de fond des compteurs en fonction du status  */
/* le statut est le suffixe de la classe des compteurs  */
/*------------------------------------------------------*/
#tabs > ul > li > span[class$=cptwarning] {
    background-color: #EA5A00;
}
#tabs > ul > li > span[class$=cpterror] {
    background-color: #C00303;
}
#tabs > ul > li > span[class$=cptpending] {
    background-color: #673406;
}
#tabs > ul > li > span[class$=cptsuccess] {
    background-color: #51AD26;
}
#tabs > ul > li > span[class$=cptprogress] {
    background-color: #8B569F;
}
#tabs > ul > li > span[class$=cptirq] {
    background-color: #000;
}
#tabs > ul > li > span[class$=cptnone],
#tabs > ul > li > span[class$=cptna] {
    background-color: #545454;
}

/*============================================================================*/
/* Container de type GRID pour titre et compteurs d'un groupe du tracker      */
/* ALL, TRD, IO, MSG, ACC, CLO, INV, EXT                                      */
/*============================================================================*/
/* COL1 (25px) : Compteur de poids le plus fort                               */
/* COL2 (25px) : Compteur WARNING (si compteur de poids le plus fort = ERROR  */
/* COL3 (auto) : Titre du groupe                                              */
/* COL4 (20px) : Zone pour bouton d'ouverture de la forme (affichage complet) */
/*============================================================================*/
div[id^=group_] > div:first-child {
    display: grid;
    grid-template-columns:25px 25px auto 10px;
    align-items:center;
}

/*-----------------------------------------------------*/
/* Caractéristiques générale des compteurs d'un groupe */
/*-----------------------------------------------------*/
div[id^=group_] span[id*=cpt_] {
    text-align: center;
    color: #fff;
    padding: 0.2em 0;
}

/*-----------------------------------------------------*/
/* Couleur de fond des compteurs d'un groupe           */
/* en fonction du status                               */
/*-----------------------------------------------------*/
div[id^=group_] span[id*=cpt_][class$=error] {
    background-color: #C00303;
}
div[id^=group_] span[id*=cpt_][class$=warning] {
    background-color: #EA5A00;
}
div[id^=group_] span[id*=cpt_][class$=none],
div[id^=group_] span[id*=cpt_][class$=na] {
    background-color: #545454;
}
div[id^=group_] span[id*=cpt_][class$=irq] {
    background-color: #000;
}
div[id^=group_] span[id*=cpt_][class$=pending] {
    background-color: #673406;
}
div[id^=group_] span[id*=cpt_][class$=progress] {
    background-color: #8B569F;
}
div[id^=group_] span[id*=cpt_][class$=success] {
    background-color: #51AD26;
}

/*-------------------*/
/* Titre d'un groupe */
/*-------------------*/

div[id^=group_] span[id^=lblgroup_] {
    display: inline-block;
    font: normal 9.5pt Segoe UI,sans-serif;
    text-indent: 5px;
    text-transform:uppercase;
}

/*-----------------------------------------------*/
/* Un ou 2 compteurs sur ce groupe               */
/* le titre occupe donc la 3ème colonne          */
/*-----------------------------------------------*/
div[id^="group_"] span[id^=lblgroup_]:not(:first-child) {
    grid-column: 3;
}
/*-----------------------------------------------*/
/* Pas de compteurs sur ce groupe                */
/* le titre occupe donc les 3 premières colonnes */
/*-----------------------------------------------*/
div[id^="group_"] span[id^=lblgroup_]:first-child {
    grid-column: span 3;
}

div[id^=group_] div.ui-accordion-header {
    margin-top: 2px;
    height: 20px;
    padding: 0;
}

/*-----------------------------*/
/* Contenu d'un groupe actif : */
/* Lignes de trackers          */
/*-----------------------------*/
div[id^="group_"] div.ui-accordion-content-active {
    border: none;
    background-color: #fff;
    opacity: 1;
    margin: 0;
    color: #000;
}

div[id^="group_"] ul.content {
    padding-left: 0;
    margin-top: 0;
}

/*----------------------------------*/
/* Ligne de tracker du jour en gras */
/* découpage automatique            */
/*----------------------------------*/
div[id^="group_"] ul.content > li.today span {
    font-weight:bold!important;
}


/*-----------------------------*/
/* Ligne de tracker renseignée */
/* découpage en trois colonnes */ 
/* Date, Libellé, Lien détail  */
/*-----------------------------*/
div[id^="group_"] ul.content li {
    display: grid;
    grid-template-columns: 30px auto 30px;
    gap: 2px;
    font: normal 7.5pt Segoe UI,sans-serif;
    list-style-type: none;
    padding: 0 2px;
}
/*-----------------------------*/
/* Ligne de tracker vide       */
/* découpage automatique       */
/*-----------------------------*/
div[id^="group_"] ul.content.empty > li {
    grid-template-columns: auto;
}

/*----------------------------------*/
/* Ligne de tracker vide            */
/* alignement de la dernière donnée */
/*----------------------------------*/
div[id^="group_"] ul.content > li > div:last-child > span.iddata {
    float: right;
    cursor: pointer;
    width: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

/*-------------------------------*/
/* Ligne de tracker vide         */
/* couleur en fonction du statut */
/*-------------------------------*/
div[id^="group_"] ul.content li.statuserror {
    color:#C00303
}
div[id^="group_"] ul.content li.statussuccess {
    color: #51AD26
}
div[id^="group_"] ul.content li.statuswarning {
    color: #EA5A00
}
div[id^="group_"] ul.content li.statusnone {
    color: #036ab5
}
div[id^="group_"] ul.content li.statusirq,
div[id^="group_"] ul.content li.statusna {
    color: #000;
}
div[id^="group_"] ul.content li.statuspending {
    color: #673406
}
div[id^="group_"] ul.content li.statusprogress {
    color: #8B569F
}
/* ------------------------ */
/* Link du tracker          */
/* ------------------------ */

div[id^="group_"] ul.content li div span.message:hover {
    text-decoration:underline;
}
div[id^="group_"] ul.content li div span.iddata:hover {
    text-decoration: underline;
}
/* ------------------------ */
/* Tooltip des compteurs    */
/* ------------------------ */
.qtip-content {
    font-family: Segoe UI, sans-serif;
    font-size: 8pt !important;
    font-variant: normal;
    font-weight: normal;
    overflow: hidden auto !important;
    overflow-x: hidden;
    overflow-y: auto !important;
    max-height: 150px;
    background-color: #fff !important;
    color: #000;
}

.qtip-content b {
    font-weight: bold !important;
}

.qtip-content span.cpt {
    font-size: 8pt !important;
    overflow: hidden;
    line-height: 1;
    cursor: pointer !important;
    background-image: none;
}

.qtip-content span.subtitle {
    font-weight: bolder;
    color: #000000;
}

span.ERROR {color: #c00303;}
span.IRQ {color: #000;}
span.NA {color: #848484;}
span.NONE {color: #036ab5;}
span.PENDING {color: #673406;}
span.PROGRESS {color: #8B569F;}
span.SUCCESS {color: #51ad26;}
span.WARNING {color: #ea5a00;}



/*===========================*/
/* Spécificités du sommaire  */
/*===========================*/

/* Généralités */
#TblShowMenu {
    margin-top: auto !important;
    height: 100%;
}

#divMnu {
    overflow: auto;
    position: relative;
    display: flex;
    gap: 2px;
    flex-direction: column;
    height: inherit;
    margin: 2px 0px;
}

div[id$="sub"] div[id$="sub"] {
    border-left: 1pt solid gainsboro;
    padding-left: 14pt;
}
div[class=mnu-sep] {
    border-bottom:1.1pt solid gainsboro;
    margin : 2px 0;
}

div[class*="mnu-"] span {
    max-width: none;
    font: normal 10.5pt Segoe UI, sans-serif;
}

div [class^="mnu-"]{
    display: block;
    cursor:pointer;
}

div [id^="contnrmnu"].mask.on,
div [class^="mnu-"].mask.on {
    display: none;
}

div[class^="mnu-"] > span[id^=lbl] {
    text-transform: uppercase;
}
div[class^="mnu-"].active > span[id^=lbl] {
    font-weight: 500;
}

div [class^="mnu-"] a {
    max-width: none;
    font: normal 9.5pt Segoe UI, sans-serif;
    color:#000;
    text-decoration:none;
}

div [class^="mnu-"] a:hover {
    text-decoration: underline;
}
div[class^="mnu-External"] a:hover,
div[class^="mnu-External"] span[id^=lbl]:hover {
    color: #545454;
}

div[class^="mnu-About"] a:hover,
div[class^="mnu-About"] span[id^=lbl]:hover {
    color: #036AB5;
}

div[class^="mnu-Admin"] a:hover,
div[class^="mnu-Admin"] span[id^=lbl]:hover {
    color: #C00303;
}

div[class^="mnu-Views"] a:hover,
div[class^="mnu-Views"] span[id^=lbl]:hover {
    color: #51AD26;
}

div[class^="mnu-Process"] a:hover,
div[class^="mnu-Process"] span[id^=lbl]:hover {
    color: #8B569F;
}

div[class^="mnu-Repository"] a:hover,
div[class^="mnu-Repository"] span[id^=lbl]:hover {
    color: #673406;
}

div[class^="mnu-Input"] a:hover,
div[class^="mnu-Input"] span[id^=lbl]:hover {
    color: #EA5A00;
}

div[class^="mnu-Invoicing"] a:hover,
div[class^="mnu-Invoicing"] span[id^=lbl]:hover {
    color: #EA71A8;
}

div[class^="mnu-Unknown"] a:hover,
div[class^="mnu-Unknown"] span[id^=lbl]:hover {
    color: #D8C825;
}



div[id^=contnrmnu] > div[id^=mnu]:first-child {
    font: normal 10.5pt Segoe UI, sans-serif;
    text-transform: uppercase;
    text-indent: 5pt;
    min-height: 20px;
    color: White;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    top: 0px;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin: 0;
}

#contnr div[id^=contnrmnu] > div[id^=mnu]:first-child ~ div[id$=sub], div[id$=sub][class^=mnu] {
    padding: 5px;
    margin: 0;
    border: none;
    overflow: auto;
}

div[id^=contnrmnu] > div[id^=mnu]:first-child {
    background-color: #000;
}
div[id^=contnrmnu] > div[id^=mnu]:not([class*=active]):first-child:hover {
    opacity: 0.5;
}
div[id^=mnu] + div[id$=sub] {
    display: none;
}
div[id^=mnu][class*=active] + div[id$=sub] {
    display: block;
}

div[id^=contnrmnu] > div.mnu-External.active {
    background-color: #545454;
}
div[id^=contnrmnu] > div.mnu-About.active {
    background-color: #036AB5;
}
div[id^=contnrmnu] > div.mnu-Admin.active {
    background-color: #C00303;
}
div[id^=contnrmnu] > div.mnu-Views.active {
    background-color: #51AD26;
}
div[id^=contnrmnu] > div.mnu-Process.active {
    background-color: #8B569F;
}
div[id^=contnrmnu] > div.mnu-Repository.active {
    background-color: #673406;
}
div[id^=contnrmnu] > div.mnu-Input.active {
    background-color: #EA5A00;
}
div[id^=contnrmnu] > div.mnu-Invoicing.active {
    background-color: #EA71A8;
}
div[id^=contnrmnu] > div.mnu-Unknown.active {
    background-color: #D8C825;
}





/* ------------------------ */
/* Tracker Aide en ligne    */
/* ------------------------ */

#detgroup_HELP_GROUP,
#detgroup_HELP_READYSTATE,
#detgroup_HELP_STATUS {
    /*min-height: 255px;*/
    height: 255px;
}

div[id^=detgroup] .preamble {
    font: bold 12px Segoe UI, sans-serif;
    padding-left: 5px;
    text-align: justify;
    hyphens: auto;
    word-wrap: break-word;
    color: #000;
    text-transform: none;
}

div[id^=detgroup] .title,
div[id^=detgroup] .REQUESTED, div[id^=detgroup] .ACTIVE, div[id^=detgroup] .TERMINATED,
div[id^=detgroup] .ERROR, div[id^=detgroup] .IRQ, div[id^=detgroup] .NA, div[id^=detgroup] .NONE,
div[id^=detgroup] .PENDING, div[id^=detgroup] .PROGRESS, div[id^=detgroup] .SUCCESS, div[id^=detgroup] .WARNING {
    vertical-align: text-top;
    font: bold 12px Segoe UI, sans-serif;
    text-align: justify;
    font-variant: small-caps;
    padding-left: 4px;
}

div[id^=detgroup] .title {
    color: #000;
}

div[id^=detgroup] .REQUESTED {
    color: #545454;
}

div[id^=detgroup] .ACTIVE {
    color: #8B569F;
}

div[id^=detgroup] .TERMINATED {
    color: #036ab5;
}

div[id^=detgroup] .ERROR {
    color: #c00303;
}

div[id^=detgroup] .IRQ {
    color: #000;
}

div[id^=detgroup] .NA {
    color: #000;
}

div[id^=detgroup] .NONE {
    color: #036ab5;
}

div[id^=detgroup] .PENDING {
    color: #673406;
}

div[id^=detgroup] .PROGRESS {
    color: #8B569F;
}

div[id^=detgroup] .SUCCESS {
    color: #51ad26;
}

div[id^=detgroup] .WARNING {
    color: #ea5a00;
}
