/* -------------------------------------------------------------*/
/* SOMMAIRE                                                     */
/* -------------------------------------------------------------*/
#lblIdentification
{
    font-weight:normal;
	cursor: default;
}

.EG-Sommaire {
	background-color: #dddada!important;
	color: #FFFFFF;
}

.summarytitle {
	height: 20px;
	padding: 5px 5px 0px 5px;
}


/* -------------------------------------------------------------*/
/* MENUS PRINCIPAUX DE SOMMAIRE                                 */
/* -------------------------------------------------------------*/
div[id^="Mastermnu"]
{
	font: normal 10.5pt Segoe UI, sans-serif;
	text-transform:uppercase;
	text-indent: 5pt;
	min-height: 20px;
	color: White;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	top: 0px;
	vertical-align: middle;
	background-repeat: no-repeat;
	margin-left: 5px;
	margin-right: 4px;
	margin-top:5px;
}

div[id^="Mastermnu"]:focus {
	background-color:#737373;
}
div[id^="Mastermnu"]~div[id="sub"],
div[id$="sub"][class^="MainMenu"]
{
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px 4px 10px 5px;
	border-style:solid;
	border-width: 1pt;
	border-top:none;
}

div[id$="sub"] div[id$="sub"] {
	padding-left: 14pt;
}

div[id^="Mastermnu"][class*="-Over"] 
{
	background-color: #000;
	opacity: 0.5;
}

.MainMenu-External {	background-color: #000;}
.MainMenu-About {	background-color: #000;}
.MainMenu-Admin {	background-color: #000;}
.MainMenu-Views {	background-color: #000;}
.MainMenu-Process {	background-color: #000;}
.MainMenu-Repository {	background-color: #000;}
.MainMenu-Input {	background-color: #000;}
.MainMenu-Invoicing {	background-color: #000;}
.MainMenu-Unknown {	background-color: #000;}

.MainMenu-External-Over{background-position: 0px 0px;}
.MainMenu-About-Over{background-position: 0px -26px;}
.MainMenu-Admin-Over{background-position: 0px -52px;}
/*.MainMenu-Views-Over{background-position: 0px -78px;}*/
.MainMenu-Process-Over{background-position: 0px -104px;}
.MainMenu-Repository-Over{background-position: 0px -130px;}
.MainMenu-Input-Over{background-position: 0px -156px;}
.MainMenu-Invoicing-Over{background-position: 0px -208px;}
.MainMenu-Unknown-Over{	background-position: 0px -234px;}




.MainMenu-External-Selected {	background-color: #545454;}
.MainMenu-About-Selected {	background-color: #036AB5;}
.MainMenu-Admin-Selected {	background-color: #C00303;}
.MainMenu-Views-Selected {	background-color: #51AD26;}
.MainMenu-Process-Selected {	background-color: #8B569F;}
.MainMenu-Repository-Selected {	background-color: #673406;}
.MainMenu-Input-Selected {	background-color: #EA5A00;}
.MainMenu-Invoicing-Selected {	background-color: #EA71A8;}
.MainMenu-Unknown-Selected {	background-color: #D8C825;}

.MainMenu-Input-Bottom {background: #FFF;border-color: #EA5A00;}
.MainMenu-Views-Bottom {background: #FFF;border-color: #51AD26;}
.MainMenu-Process-Bottom {	background: #FFF;	border-color: #8B569F;}
.MainMenu-Repository-Bottom {	background: #FFF;	border-color: #673406;}
.MainMenu-Admin-Bottom {	background: #FFF;	border-color: #C00303;}
.MainMenu-Invoicing-Bottom {	background: #FFF;	border-color: #EA71A8;}
.MainMenu-External-Bottom {	background: #FFF;	border-color: #545454;}
.MainMenu-About-Bottom {	background: #FFF;	border-color: #036AB5 ;}
.MainMenu-Unknown-Bottom {	background: #FFF;	border-color: #D8C825;
}
/* -------------------------------------------------------------*/
/* SOUS-MENUS DE SOMMAIRE                                       */
/* -------------------------------------------------------------*/

div[class^="SubMenu-"], 
div[class^="ActionMenu-"]
{
	overflow: hidden;
	cursor: pointer;
	position: relative;
	top: 0px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

div[class^="ActionMenu-"]
{
	display:inline-flex;
}

div[class^="SubMenu-"] div[class="button"],
div[class^="ActionMenu-"] div[class="button"],
div[class^="External"] div[class="button"]
{
	cursor: pointer;
	position: relative;
	background-color: Transparent;
	background-repeat: no-repeat;
	background-image: url(../Images/PNG/ui-png-summary.png);
	min-width:16px;
	min-height:16px;  
	width:16px;
	height:16px;  
	border-style:solid;
	border-color:Transparent;  
	border-width:1px;
	display: inline-flex;
    vertical-align: bottom;
}


#btnMaskMenu {
	float: right;
	margin-right:10px;
}
#btnLogout2 {
	font-size: small;
	color: #FFF;
	cursor: pointer;
	border-style: none;
	background-color:transparent;	
}
#btnLogout2:focus {
	outline-color: -webkit-focus-ring-color;
	outline-style: auto;
	outline-width: 1px;
	color:#fff!important;
}


div[class^="SubMenu-"] div[class="button"] {
	background-position: -0px -260px;
}
div.SubMenu-External-Selected div[class="button"]{background-position: -16px -260px;}
div.SubMenu-External-Over div[class="button"]{background-position: -16px -260px;}
div.SubMenu-About-Selected div[class="button"]{background-position: -32px -260px;}
div.SubMenu-About-Over div[class="button"]{background-position: -32px -260px;}
div.SubMenu-Admin-Selected div[class="button"]{background-position: -48px -260px;}
div.SubMenu-Admin-Over div[class="button"]{background-position: -48px -260px;}
div.SubMenu-Views-Selected div[class="button"]{background-position: -64px -260px;}
div.SubMenu-Views-Over div[class="button"]{background-position: -64px -260px;}
div.SubMenu-Process-Selected div[class="button"]{background-position: -80px -260px;}
div.SubMenu-Process-Over div[class="button"]{background-position: -80px -260px;}
div.SubMenu-Repository-Selected div[class="button"]{background-position: -96px -260px;}
div.SubMenu-Repository-Over div[class="button"]{background-position: -96px -260px;}
div.SubMenu-Input-Selected div[class="button"]{background-position: -112px -260px;}
div.SubMenu-Input-Over div[class="button"]{background-position: -112px -260px;}
div.SubMenu-Invoicing-Selected div[class="button"]{background-position: -144px -260px;}
div.SubMenu-Invoicing-Over div[class="button"]{background-position: -144px -260px;}
div.SubMenu-Unknown-Selected div[class="button"]{background-position: -160px -260px;}
div.SubMenu-Unknown-Over div[class="button"]{background-position: -160px -260px;}

div[class$="External-Selected"] div[class="button"],
div[class$="External-Over"] div[class="button"]{background-position: -128px -260px;}

div[class$="UnknownExternal-Selected"] div[class="button"],
div[class$="UnknownExternal-Over"] div[class="button"]{background-position: -160px -260px;}

/* -------------------------------------------------------------*/
/* ACTION DE SOMMAIRE                                           */
/* -------------------------------------------------------------*/
div[class^="External"] a,
div[class^="External"] span,
div[class^="ActionMenu-"] a, 
div[class^="ActionMenu-"] span
{
	font: 12px Segoe UI, sans-serif;
	color:#000;
	text-decoration: none;
}
div[class^="External"] a:hover,
div[class^="ActionMenu-"] a:hover {text-decoration: underline;}

div[class="External"] a:hover {color: #1CBCF0;}
div[class^="ActionMenu-External"] a:hover {	color: #545454;}
div[class^="ActionMenu-About"] a:hover {	color: #036AB5;}
div[class^="ActionMenu-Admin"] a:hover {	color: #C00303;}
div[class^="ActionMenu-Views"] a:hover {	color: #51AD26;}
div[class^="ActionMenu-Process"] a:hover {	color: #8B569F;}
div[class^="ActionMenu-Repository"] a:hover {	color: #673406;}
div[class^="ActionMenu-Input"] a:hover {	color: #EA5A00;}
div[class^="ActionMenu-Invoicing"] a:hover {	color: #EA71A8;}
div[class^="ActionMenu-Unknown"] a:hover {	color: #D8C825;}

div[class^="ActionMenu-External"] div[class="button"]{background-position: -16px -274px;}
div[class^="ActionMenu-About"] div[class="button"]{background-position: -32px -274px;}
div[class^="ActionMenu-Admin"] div[class="button"]{background-position: -48px -274px;}
div[class^="ActionMenu-Views"] div[class="button"]{background-position: -64px -275px;}
div[class^="ActionMenu-Process"] div[class="button"]{background-position: -80px -275px;}
div[class^="ActionMenu-Repository"] div[class="button"]{background-position: -96px -275px;}
div[class^="ActionMenu-Input"] div[class="button"]{background-position: -112px -275px;}
div[class^="ActionMenu-Invoicing"] div[class="button"]{background-position: -144px -275px;}
div[class^="ActionMenu-Unknown"] div[class="button"]{background-position: -160px -275px;}

div[class^="External"] div[class="button"],
div[class^="External-Selected"] div[class="button"],
div[class^="External-Over"] div[class="button"]{background-position: -128px -275px;}

div[class$="UnknownExternal-Selected"] div[class="button"],
div[class$="UnknownExternal-Over"] div[class="button"]{background-position: -160px -275px;}

/* Gestion des séparateurs dans le menu */

div[class^=mnusep] {padding:1px 5px 2px 5px;}
div[class^=mnusep] > table {width:100%;}
div[class^=mnusep] {font-size:5px;border-bottom-style: solid;border-bottom-width: 1.1pt;border-bottom-color:#000;margin-left:3px;margin-right:3px;}
div[class=mnusep-Input]{border-bottom-color:#EA5A00;}
div[class=mnusep-Views]{border-bottom-color:#51AD26;}
div[class=mnusep-Process]{border-bottom-color:#8B569F;}
div[class=mnusep-Repository]{border-bottom-color:#673406;}
div[class=mnusep-Admin]{border-bottom-color:#C00303;}
div[class=mnusep-Invoicing]{border-bottom-color:#EA71A8;}
div[class=mnusep-External]{border-bottom-color:#545454;}
div[class=mnusep-About]{border-bottom-color:#036AB5;}
div[class=mnusep-Unknown]{border-bottom-color:#D8C825;}


div[class*="SubMenu-"] span
{
	font: normal 9.75pt Segoe UI, sans-serif;
	text-transform:uppercase;
	line-height: 14pt;
	/*color: #FFFFFF;*/
	color:#000;
}

div[class^="ActionMenu-"] a,
div[class*="ActionMenu-"] span
{
    /*margin-left:5px;*/
    max-width:135px;
}

#TblShowMenu {
    width:100%;
	/*Instruction pour fixer la barre de déconnexion en haut du menu pendant un scroll*/
	margin-top: 25px !important;
}


/*Instruction pour fixer la barre de déconnexion en haut du menu pendant un scroll*/
#ShowMnu {
	display:flex;
}

/*Instruction pour fixer la barre de déconnexion en haut du menu pendant un scroll*/
#TblLoginLogout {
	position: fixed;
	z-index: 10;
	width:100%;
}
#TblLoginLogout> a {
	padding: 0px 4px;
}

#TblLoginLogout.blue {
	background-color: #036ab5;
}
#TblLoginLogout.green {
	background-color: #51AD26;
}

#TblLoginLogout.red {
	background-color: #C00303;
}

#TblLoginLogout.marron {
	background-color: #673406;
}

#TblLoginLogout.violet {
	background-color: #8B569F;
}

#TblLoginLogout.gray {
	background-color: #545454;
}

#TblLoginLogout.orange {
	background-color: #EA5A00;
}

#TblLoginLogout.rose {
	background-color: #EA71A8;
}

#TblLoginLogout.yellow {
	background-color: #D8C825;
}
#TblLoginLogout.cyan {
	background-color: #1CBCF0;
}

