<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpheresClosingGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="parallelSettings">
      <section name="parallelEndOfDay" type="EFS.Process.ParallelEndOfDaySection, EFS.Common" requirePermission="false" />
      <section name="parallelMarginRequirement" type="EFS.Process.ParallelMarginRequirementSection, EFS.Common" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <parallelSettings>
    <!--Parameters for parallel process End of day-->
    <parallelEndOfDay>
      <defaultSettings>
        <add name="AutomaticOption" heapSize="3" maxThreshold="25" />
        <add name="UnderlyerDelivery" heapSize="50" maxThreshold="10" />
        <add name="CashFlows" heapSize="200" maxThreshold="25" />
        <add name="FeesCalculation" heapSize="100" maxThreshold="25" />
        <add name="FeesWriting" heapSize="400" maxThreshold="25" />
        <add name="SafeKeepingCalculation" heapSize="100" maxThreshold="20" />
        <add name="SafeKeepingWriting" heapSize="200" maxThreshold="20" />
        <add name="ClosingReopeningCalculation" heapSize="3" maxThreshold="3" />
        <add name="ClosingReopeningWriting" />
        <add name="ClosingReopeningWritingTrade" />
        <add name="UTICalculation" heapSize="400" maxThreshold="50" />
      </defaultSettings>
      <settings>
        <endOfDay />
      </settings>
    </parallelEndOfDay>
    <!--Parameters for parallel process Margin requirement-->
    <parallelMarginRequirement>
      <defaultSettings>
        <add name="InitialMarginCalculation" heapSize="100" maxThreshold="30" />
        <add name="InitialMarginWriting" heapSize="100" maxThreshold="30" maxThresholdEvents="50" slaveCallEvents="false" />
      </defaultSettings>
      <settings>
        <marginRequirement />
      </settings>
    </parallelMarginRequirement>
  </parallelSettings>
  <appSettings>
    <!-- Eurex Clearing Circular 039/21 Prisma: Disable NGR -->
    <add key="MREurexPrismaNetGrossRatioEnabled" value="false" />
    <!-- Enable/Disable Use of Logger Service -->
    <add key="RemoteLogEnabled" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <SpheresClosingGen.Properties.Settings>
      <setting name="StrategySerializationWithCarriageReturn" serializeAs="String">
        <value>True</value>
      </setting>
    </SpheresClosingGen.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <sources>
      <source name="SpheresTrace" switchValue="Information">
        <listeners>
          <add name="SpheresTraceListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="~\Trc_.txt" traceOutputOptions="DateTime" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="SpheresTraceTime" switchValue="Off">
        <listeners>
          <add name="SpheresTraceTimeListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="~\TrcTime_.txt" traceOutputOptions="DateTime" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISpheresLoggerService" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8736/SpheresLogger/SpheresLoggerService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpheresLoggerService" contract="LoggerService.ISpheresLoggerService" name="BasicHttpBinding_ISpheresLoggerService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>