<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <!-- Enable/Disable Use of Logger Service -->
    <add key="RemoteLogEnabled" value="true"/>
  </appSettings>
  
  <system.diagnostics>
    <sources>
      <source name="SpheresTrace" switchValue="Information">
        <listeners>
          <add name="SpheresTraceListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="~\Trc_.txt" traceOutputOptions="DateTime"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="SpheresTraceTime" switchValue="Off">
        <listeners>
          <add name="SpheresTraceTimeListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="~\TrcTime_.txt" traceOutputOptions="DateTime"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISpheresLoggerService" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8736/SpheresLogger/SpheresLoggerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpheresLoggerService"
                contract="LoggerService.ISpheresLoggerService" name="BasicHttpBinding_ISpheresLoggerService" />
    </client>
  </system.serviceModel>
  
</configuration>
