<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/less">
    <include path="~/Content/less/Spheres.less"/>
    <include path="~/Content/less/font-awesome.less"/>
  </styleBundle>
  <styleBundle path="~/Content/datetimepicker">
    <include path="~/Content/datetimepicker/bootstrap-datetimepicker-build.less"/>
  </styleBundle>
  <styleBundle path="~/Content/bootstrap-select">
    <include path="~/Content/bootstrap-select/bootstrap-select.less"/>
  </styleBundle>
</bundles>