<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    
    <httpRuntime maxRequestLength="40960" targetFramework="4.5.2" requestValidationMode="2.0" />

    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>

    <pages>
      
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="efs" tagName="TrackerMain" src="~/UserControl/TrackerMain.ascx" />
        <add tagPrefix="efs" tagName="TrackerItem" src="~/UserControl/TrackerItem.ascx" />
        <add tagPrefix="efs" tagName="SpheresServiceList" src="~/UserControl/SpheresServiceList.ascx" />
        <add tagPrefix="efs" tagName="SpheresProcessList" src="~/UserControl/SpheresProcessList.ascx" />
      </controls>
      
    </pages>

    <!--  MESSAGES D'ERREUR PERSONNALISÉS
          Définissez les valeurs du mode customError pour contrôler l'affichage des messages d'erreur 
          conviviaux aux utilisateurs au lieu des détails d'erreur (y compris la trace de la pile) :

          "On" Toujours afficher des messages (conviviaux) personnalisés  
          "Off" Toujours afficher les informations d'erreur ASP.NET détaillées.
          "RemoteOnly" Afficher des messages (conviviaux) personnalisés uniquement aux utilisateurs n'exécutant pas 
          sur le serveur Web local. Ce paramètre est recommandé à des fins de sécurité, afin de 
          ne pas afficher d'informations détaillées sur l'application aux clients distants.
    -->
    <!--<customErrors mode="On" defaultRedirect="~/ErrorPage.aspx">
      <error statusCode="404" redirect="~/ErrorPage.aspx?StatusCode=404" />
    </customErrors>-->
    
    <authentication mode="Forms">
      <forms loginUrl="Account/Login.aspx" timeout="20" />
    </authentication>
    
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
    
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    
    <xhtmlConformance mode="Transitional" />

    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>

  </system.web>

  <appSettings file="WebCustom.config">
    <!-- EG 20160308 Migration vs2013 -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="Software" value="Spheres" />
    <add key="MOMType" value="FileWatcher" />
    <add key="MOMPath" value="C:\SpheresServices\Queue" />
    <add key="MOMEncrypt" value="false" />
    <add key="SqlServerTemplateConnectionString" value="Data Source=SERVERNAME();Initial Catalog=DBNAME();Persist Security Info=False;User Id=USERNAME();Password=PWD();Workstation Id=127.0.0.1;Packet Size=4096" />
    <add key="OracleTemplateConnectionString" value="Data Source=SID();User ID=SCHEMA();Password=PWD();" />
    <add key="OracleWithoutTnsnamesConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SID())));User ID=SCHEMA();Password=PWD();" />
    <add key="isTrace" value="true" />
    <add key="isTraceTime" value="true" />
    <add key="isUseCustomStatus" value="true" />
    <add key="AutoLogin" value="true" />
    <add key="AuthenticateType" value="RDBMS" />
    <add key="LDAP_Domain" value="" />
    <add key="LDAP_Filter" value="" />
    <add key="LDAP_Identifier" value="" />
    <add key="Spheres_Hash" value="MD5" />
    <add key="Spheres_SourceDisplay" value="HIDE" />
    <add key="Spheres_RdbmsName" value="ORACL11G" />
    <add key="Spheres_ServerName" value="ORACL" />
    <add key="Spheres_DatabaseName" value="SPHERES" />
    <add key="Spheres_UserName" value="Spheres" />
    <add key="Spheres_Pwd" value="xxxxx" />
    <add key="Spheres_IsPwdCrypted" value="0" />
    <add key="Spheres_LogConsultMode" value="Admin" />
    <add key="Spheres_Collation" value="CS" />
    <add key="Spheres_MinDate" value="1980-01-01" />
    <add key="Spheres_MaxDate" value="2079-05-31" />
    <add key="Spheres_DataViewMaxRows" value="5000" />
    <add key="DataCacheEnabled" value="true" />
    <add key="DataCacheEnabledInterval" value="20" />
    <add key="DataCacheCleanInterval" value="30" />
    <add key="DataCacheMinRows" value="" />
    <add key="DataCacheMaxRows" value="50" />
    <add key="DataRestrictionEnabled" value="yes" />
    <add key="EntityMarket_RefreshInterval" value="120" />
    <add key="EntityMarket_Banner" value="true" />
    <add key="Spheres_StyleSheet" value="EFSThemeBlue.css" />
    <!-- <add key="Spheres_LogoLeft" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_LogoRight" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_WelcomeHeader" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_WelcomeBody" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_WelcomeFooter" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_DefaultHomePage" value="http://www.euro-finance-systems.fr" /> -->
    <add key="Spheres_TradeRemoveReplace_StPriority" value="HIGH" />
    <add key="Spheres_NextBlock_AccessKey" value="N" />
    <add key="Spheres_InputButton_TabActivation" value="false" />
    <add key="Spheres_TradeSearch_actor" value="IDENTIFIER" />
    <add key="Spheres_TradeSearch_book" value="IDENTIFIER" />
    <add key="Spheres_TradeSearch_security" value="IDENTIFIER;ISINCODE;DISPLAYNAME;DESCRIPTION" />
    <add key="Spheres_TradeSearch_assetETD" value="IDENTIFIER;ASSETSYMBOL;ISINCODE;DISPLAYNAME;DESCRIPTION" />
    <add key="Spheres_TradeSearch_rateindex" value="" />
    <add key="Spheres_ReferentialDefault_country" value="FR" />
    <add key="Spheres_ReferentialDefault_currency" value="EUR" />
    <add key="Spheres_ReferentialDefault_culture" value="fr-FR" />
    <add key="Spheres_ReferentialDefault_businesscenter" value="FRPA" />
    <add key="Spheres_ReferentialDefaultEnabled_ACTOR" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_ASSET_ETD" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_INSTRUMENT" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_MARKET" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_MENU" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_PERMISSION" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_QUOTE_FXRATE_H" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_QUOTE_RATEINDEX_H" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_QUOTE_INDEX_H" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_QUOTE_ETD_H" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_INSTRUMENTMODEL" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_ACTORMODEL" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_MARKETMODEL" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_MENUMODEL" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_PERMISSIONMODEL" value="false" />
    <add key="SpheresHelpUrl" value="HelpOnline" />
    <add key="FpMLHelpUrl" value="http://www.fpml.org/spec/fpml-4-4-4-wd-3/html/" />
    <add key="FpMLHelpVersion" value="4-4" />
    <add key="FixMLHelpUrl" value="http://www.fixprotocol.org/FIXimate3.0/en/" />
    <add key="FixMLHelpVersion" value="5.0SP1" />
    <add key="EFSmLHelpSchemas" value="true" />
    <add key="EFSmLHelpSchemasUrl" value="HelpSchemas" />
    <add key="EFSmLHelpSchemasVersion" value="3-0" />
    <add key="Spheres_LogsXMLFile" value="ErrorLogsFiles\ErrorLog.xml" />
    <add key="Spheres_LogsTXTFile" value="ErrorLogsFiles\ErrorLog.txt" />
    <add key="Spheres_ErrorEmailSmtpServer" value="smtp.provider.com" />
    <add key="Spheres_ErrorEmailSender" value="xxx@yyy.com" />
    <add key="Spheres_ErrorEmailReceiver" value="spheres@euro-finance-systems.com" />
    <add key="Spheres_ErrorEmailSubject" value="Spheres Error Message" />
    <add key="Spheres_TraceRDBMS" value="0" />
    <add key="Spheres_TraceRDBMS_Username" value="*" />
    <add key="Spheres_TraceRDBMS_Hostname" value="*" />
    <add key="Spheres_DebugDesign" value="0" />
    <add key="Spheres_DebugClientId" value="0" />
    <add key="Spheres_DebugFpML" value="0" />
    <!-- HACKATTEMPTSAFETY : USER -->
    <add key="HackAttemptSafety_UserName_MaxDenials" value="3" />
    <add key="HackAttemptSafety_UserName_MaxDenialsWarning" value="-1" />
    <add key="HackAttemptSafety_UserName_ResetTime" value="60" />
    <add key="HackAttemptSafety_UserName_FactorResetTime" value="24" />
    <add key="HackAttemptSafety_UserName_MaxResetTime" value="2" />
    <!-- HACKATTEMPTSAFETY : HOSTNAME -->
    <add key="HackAttemptSafety_HostName_MaxDenials" value="5" />
    <add key="HackAttemptSafety_HostName_MaxDenialsWarning" value="1" />
    <add key="HackAttemptSafety_HostName_ResetTime" value="60" />
    <add key="HackAttemptSafety_HostName_FactorResetTime" value="24" />
    <add key="HackAttemptSafety_HostName_MaxResetTime" value="2" />
  </appSettings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".less" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
  </system.webServer>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="About.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UserProfil.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Contact.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <dotless minifyCss="false" cache="true" web="false" strictMath="false" />

</configuration>