
#divbody {
    display: flex;
    justify-content: center;
}

#pnlCharacteristicsGen {
    margin: 2px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

    .container > .container-child {
        flex: 1 1 auto;
        min-width: 500px;
        margin: 0 2px;
    }

.container span {
    display: block;
    white-space: nowrap;
    padding-bottom: 1px;
    font-size: 8pt;
}

.container input, select {
    width: 100%;
}

#txtDescription {
    height: 50px;
}

* {
    box-sizing: border-box;
}

