<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <sectionGroup name="parallelSettings">
      <section name="parallelEndOfDay" type="EFS.Process.ParallelEndOfDaySection, EFS.Common" requirePermission="false" />
      <section name="parallelMarginRequirement" type="EFS.Process.ParallelMarginRequirementSection, EFS.Common" requirePermission="false" />
      <section name="parallelCashBalance" type="EFS.Process.ParallelCashBalanceSection, EFS.Common" requirePermission="false" />
    </sectionGroup>

  </configSections>

  <parallelSettings>

    <!--Parameters for parallel process End of day-->
    <parallelEndOfDay>
      <defaultSettings>
        <add name="AutomaticOption" heapSize="3" maxThreshold="25" />
        <add name="UnderlyerDelivery" heapSize="50" maxThreshold="10" />
        <add name="CashFlows" heapSize="200" maxThreshold="25"/>
        <add name="FeesCalculation" heapSize="100" maxThreshold="25" />
        <add name="FeesWriting" heapSize="400" maxThreshold="25" />
        <add name="SafeKeepingCalculation" heapSize="100" maxThreshold="20" />
        <add name="SafeKeepingWriting" heapSize="200" maxThreshold="20" />
        <add name="ClosingReopeningCalculation" heapSize="3" maxThreshold="10" />
        <add name="ClosingReopeningWriting" heapSize="3" maxThreshold="10" />
        <add name="UTICalculation" heapSize="400" maxThreshold="50" />
      </defaultSettings>

      <settings>
        <endOfDay />
      </settings>

    </parallelEndOfDay>

    <!--Parameters for parallel process Margin requirement-->
    <parallelMarginRequirement>
      <defaultSettings>
        <add name="InitialMarginCalculation" heapSize="100" maxThreshold="30"/>
        <add name="InitialMarginWriting" heapSize="100" maxThreshold="30" maxThresholdEvents="50" slaveCallEvents="false"/>
      </defaultSettings>
      <settings>
        <marginRequirement  />
      </settings>
    </parallelMarginRequirement>

    <!--Parameters for parallel process Cash-Balance-->
    <parallelCashBalance>
      <defaultSettings>
        <add name="LoadFlows" />
        <add name="CashBalance" heapSize="100" maxThreshold="30" maxThresholdEvents="50" slaveCallEvents="false"/>
      </defaultSettings>
      <settings>
        <cashBalance />
      </settings>
    </parallelCashBalance>

    <!--Parameters for parallel process Invoicing-->
    <parallelInvoicing>
      <defaultSettings>
        <add name="InvoicingWriting" heapSize="50" maxThreshold="3" maxThresholdEvents="10" slaveCallEvents="false"/>
      </defaultSettings>
      <settings>
        <invoicing />
      </settings>
    </parallelInvoicing>
  </parallelSettings>

</configuration>
