<?xml version="1.0"?>
<appSettings>
  <add key="AuthenticateType" value="RDBMS"/>
  <add key="MOMType" value="FileWatcher"/>
  <add key="MOMPath" value="C:\EFS\Process\Queue_vMAJOR().MINOR()"/>

  <!--<add key="MOMType" value="MSMQ" />
  <add key="MOMPath" value="FormatName:DIRECT=OS:ap-w19s-101-005\private$\spheres_12_" />-->
  
  
  <!--<add key="MOMType" value="MSMQ"/>
    <add key="MOMPath" value="dws-120\private$\Queue_vMAJOR().MINOR()_"/>-->
  <add key="Spheres_SourceDisplay" value="ENABLED"/>
  <add key="Spheres_LogConsultMode" value="Admin"/>
  <add key="Spheres_DataRestrictionEnabled" value="yes"/>
  <add key="txtSearchAutoComplete" value="yes"/>
  
  <!-- ORACLE -->
  <!--<add key="Spheres_UserName" value="RD_SIGMA_REC51"/>
  <add key="Spheres_Pwd" value="efs"/>  
  <add key="Spheres_RdbmsName" value="ORACL11G"/>
  <add key="Spheres_ServerName" value="DB01V12"/>
  <add key="Spheres_DatabaseName" value="RD_SIGMA_REC51"/>-->
  <!--<add key="Spheres_UserName" value="RD_MUREX_REC51"/>
  <add key="Spheres_Pwd" value="efs"/>-->

  <!--   <add key="Spheres_RdbmsName" value="ORACL11G"/>
  <add key="Spheres_ServerName" value="SVR-DB02"/>
  <add key="Spheres_DatabaseName" value="HD_SELLA_V7"/>
 -->

  
  
  <!--<add key="Spheres_SQLSRV2K8_ServerName" value="VALBURY-TEST.enovea.net"/>
  <add key="Spheres_SQLSRV2K8_DatabaseName" value="VALBURY-TEST"/>
  <add key="Spheres_SQLSRV2K8_UserName" value ="valbutest"/>
  <add key="Spheres_SQLSRV2K8_Pwd" value ="QP39jTpUt8"/>-->


  <add key="Spheres_SQLSRV2K12_ServerName" value="172.31.101.121\bod2016"/>
  <add key="Spheres_SQLSRV2K12_DatabaseName" value="FIDEURAM_TEST"/>
  <add key="Spheres_SQLSRV2K12_UserName" value ="efs"/>
  <add key="Spheres_SQLSRV2K12_Pwd" value ="xchanging0"/>



  <add key="Spheres_SQLSRV2K8_ServerName" value="147.135.153.97"/>
  <add key="Spheres_SQLSRV2K8_DatabaseName" value="VALBURY"/>
  <add key="Spheres_SQLSRV2K8_UserName" value ="efs"/>
  <add key="Spheres_SQLSRV2K8_Pwd" value ="2020Ef11$@9Dhé048642!JDzlmdfù64"/>


  <!-- GLOP-->
  <!--<add key="Spheres_SQLSRV2K17_ServerName" value="SVR-DB01\SQL2017"/>
  <add key="Spheres_SQLSRV2K17_DatabaseName" value="RD_QUALITY_V10_FDA"/>-->
  <add key="Spheres_SQLSRV2K17_ServerName" value="SVR-DB02\SQL2017"/>
  <add key="Spheres_SQLSRV2K17_DatabaseName" value="RD_QUALITY_M21_V10"/>
  <add key="Spheres_SQLSRV2K17_UserName" value ="sa"/>
  <add key="Spheres_SQLSRV2K17_Pwd" value ="efs98*"/>

  <add key="Spheres_SQLSRV2K19_ServerName" value="SVR-DB01\SQL2019"/>
  <add key="Spheres_SQLSRV2K19_DatabaseName" value="RD_AKROS_V10_REC10"/>
  <add key="Spheres_SQLSRV2K19_UserName" value ="sa"/>
  <add key="Spheres_SQLSRV2K19_Pwd" value ="efs18**"/>

  <!-- <add key="Spheres_SQLSRV2K22_ServerName" value="[2a01:e0a:243:f9b0:d097:a349:5c4c:52b5]\SQL2022"/> -->
  <!--<add key="Spheres_SQLSRV2K22_ServerName" value="SVR-DB01\SQL2022"/>
  <add key="Spheres_SQLSRV2K22_DatabaseName" value="RD_QUALITY_Z22_V14_AL"/>
  <add key="Spheres_SQLSRV2K22_UserName" value ="sa"/>
  <add key="Spheres_SQLSRV2K22_Pwd" value ="efs18**"/>-->


	<add key="Spheres_SQLSRV2K22_ServerName" value="BDX088N\LOCALSQLEXPRESS"/>
	<add key="Spheres_SQLSRV2K22_DatabaseName" value="RD_QUALITY_Z22_V14"/>
	<add key="Spheres_SQLSRV2K22_UserName" value ="sa"/>
	<add key="Spheres_SQLSRV2K22_Pwd" value ="Administrator01"/>

  <!--<add key="Spheres_RdbmsName" value="SQLSRV2K12"/>
  <add key="Spheres_ServerName" value="147.135.153.97"/>
  <add key="Spheres_DatabaseName" value="VALBURY"/>-->
  <!--- GLOP-->
  <!--<add key="Spheres_RdbmsName" value="SQLSRV2K17"/>
  <add key="Spheres_ServerName" value="SVR-DB01\SQL2017"/>
  <add key="Spheres_DatabaseName" value="RD_QUALITY_V10_FDA"/>-->

  <add key="Spheres_RdbmsName" value="SQLSRV2K22"/>
  <!--<add key="Spheres_ServerName" value="SVR-DB01\SQL2022"/>
  <add key="Spheres_DatabaseName" value="RD_QUALITY_Z22_V14_AL"/>-->
  <add key="Spheres_ServerName" value="BDX088N\LOCALSQLEXPRESS"/>
  <add key="Spheres_DatabaseName" value="RD_QUALITY_Z22_V14"/>

  <!-- <add key="Spheres_ServerName" value="172.31.101.121\bod2016"/>
  <add key="Spheres_DatabaseName" value="MEDIOB_TEST"/>  -->
  <!--<add key="Spheres_Hash" value="SHA256" />-->

  <add key="Spheres_Hash" value="SHA256;MD5;2025-12-31"/>



  <add key="Spheres_ORACL12C_Pwd" value ="efs"/>

  <add key="Spheres_SQLSRV2K14_UserName" value ="sa"/>
  <add key="Spheres_SQLSRV2K14_Pwd" value ="efs98*"/>
  <add key="Spheres_SQLSRV2K17_UserName" value ="sa"/>
  <add key="Spheres_SQLSRV2K17_Pwd" value ="efs98*"/>
  <add key="Spheres_SQLSRV2K19_UserName" value ="sa"/>
  <add key="Spheres_SQLSRV2K19_Pwd" value ="efs18**"/>


  <!-- <add key="Spheres_SQLSRV2K16_UserName" value ="SPHERES_MEDIOB"/>
  <add key="Spheres_SQLSRV2K16_Pwd" value ="sp@mediob"/> -->
  <add key="Spheres_TradeDisplay_assetETD" value="RIC;ISIN"/>


  <add key="Spheres_DataViewMaxRows" value="20000"/>
  <add key="Spheres_DebugValidationURL" value="1"/>


  <add key="SqlServerTemplateConnectionString" value="Data Source=SERVERNAME();Initial Catalog=DBNAME();Persist Security Info=False;User Id=USERNAME();Password=PWD();Workstation Id=127.0.0.1;Packet Size=4096"/>


  <!-- SQLSERVER -->
  <!--<add key="Spheres_UserName" value="sa"/>
  <add key="Spheres_Pwd" value="efs98*"/>
  <add key="Spheres_RdbmsName" value="SQLSRV2K8"/>
  <add key="Spheres_ServerName" value="SVR-MSS-2\SVRMSS2"/>
  <add key="Spheres_DatabaseName" value="RD_VCLCFD_REC50_FDA"/>-->

  <!--<add key="Spheres_UserName" value="sa"/>
  <add key="Spheres_Pwd" value="efs98*"/>
  <add key="Spheres_RdbmsName" value="SQLSRV2K8"/>
  <add key="Spheres_ServerName" value="SVR-MSS-2\SVRMSS2"/>
  <add key="Spheres_DatabaseName" value="RD_IWBANK_NV"/>-->

  <!--<add key="Spheres_UserName" value="sa"/>
  <add key="Spheres_Pwd" value="efs98*"/>
  <add key="Spheres_RdbmsName" value="SQLSRV2K8"/>
  <add key="Spheres_ServerName" value="SVR-DB01"/>
  <add key="Spheres_DatabaseName" value="RD_MEDIOB_REC51"/>-->

  <!--<add key="Spheres_UserName" value="sa"/>
  <add key="Spheres_Pwd" value="Bvd00Quc"/>
  <add key="Spheres_RdbmsName" value="SQLSRV2K8"/>
  <add key="Spheres_ServerName" value="37.59.24.186"/>
  <add key="Spheres_DatabaseName" value="VALBURY_TEST"/>-->


  <add key="ThreadPool" value ="true"/>
  <add key="Spheres_Collation" value="CS"/>

  <!-- NO EMAIL -->
  <!--<add key="ErrorEmailSmtpServer" value="smtp.provider.com"/>-->

  <!-- GMAIL-->
  <!--<add key="Spheres_ErrorEmailSmtpServer" value="smtp.gmail.com"/>
  <add key="Spheres_ErrorEmailSmtpUserName" value="filip1410@gmail.com"/>
  <add key="Spheres_ErrorEmailSmtpUserNamePwd" value="gnaje*805390"/>
  <add key="Spheres_ErrorEmailSmtpIsPwdCrypted" value="false"/>
  <add key="Spheres_ErrorEmailSmtpPort" value="587"/>
  <add key="Spheres_ErrorEmailSmtpEnableSsl" value="true"/>
  <add key="Spheres_ErrorEmailSender" value="filip1410@gmail.com" />
  <add key="Spheres_ErrorEmailReceiver" value="fdearaujo@euro-finance-systems.com" />
  -->

  <!-- smtp.office365.com-->
  <!--<add key="Spheres_ErrorEmailSmtpServer" value="smtp.office365.com"/>
  <add key="Spheres_ErrorEmailSmtpUserName" value="fdearaujo@euro-finance-systems.com"/>
  <add key="Spheres_ErrorEmailSmtpUserNamePwd" value="^q'r6bh-=$cn-W4"/>
  <add key="Spheres_ErrorEmailSmtpIsPwdCrypted" value="false"/>
  <add key="Spheres_ErrorEmailSmtpPort" value="587"/>
  <add key="Spheres_ErrorEmailSmtpEnableSsl" value="true"/>
  <add key="Spheres_ErrorEmailSender" value="fdearaujo@euro-finance-systems.com" />
  <add key="Spheres_ErrorEmailReceiver" value="fdearaujo@euro-finance-systems.com" />
  -->

  <!-- SVR-EXCHANGE -->
  <!--
  <add key="Spheres_ErrorEmailSmtpPort" value="25"/>
  <add key="Spheres_ErrorEmailSmtpServer" value="192.168.0.3"/>
  <add key="Spheres_ErrorEmailSender" value="no-reply@euro-finance-systems.fr" />
  <add key="Spheres_ErrorEmailReceiver" value="filipe@eurosys.local"/>
  <add key="Spheres_ErrorEmailSubject" value="Spheres Error Message"/>
  -->
</appSettings>