<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EFS.SpheresRiskPerformance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EFS.SpheresRiskPerformance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

    <sectionGroup name="parallelSettings">
      <!--<section name="parallelConfigSource" type="EFS.Process.ParallelConfigSourceSection, EFS.Common" requirePermission="false" />-->
      <section name="parallelMarginRequirement" type="EFS.Process.ParallelMarginRequirementSection, EFS.Common" requirePermission="false" />
      <section name="parallelCashBalance" type="EFS.Process.ParallelCashBalanceSection, EFS.Common" requirePermission="false" />
    </sectionGroup>

  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <!-- Eurex Clearing Circular 039/21 Prisma: Disable NGR -->
    <add key="MREurexPrismaNetGrossRatioEnabled" value="false" />

    <!--NoHints, Hints, Default -->
    <add key="CBReaderAllocFungibleOtherFlowsMode" value="Default" />
    <add key="CBReaderMode" value="Default" />

    <!-- Enable/Disable Use of Logger Service -->
    <add key="RemoteLogEnabled" value="true" />
  </appSettings>

  <connectionStrings>
    <add name="EFS.SpheresRiskPerformance.Properties.Settings.RD_SPHERES_TST260ConnectionString1" connectionString="Data Source=SVR-MSS-2\SVRMSS2;Initial Catalog=RD_SPHERES_TST260;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <parallelSettings>
    <!--Parameters for parallel process Margin requirement-->
    <parallelMarginRequirement>
      <defaultSettings>
        <add name="InitialMarginCalculation" heapSize="100" maxThreshold="30" />
        <!--<add name="InitialMarginCalculation" heapSize="1" maxThreshold="1" />-->
        <add name="InitialMarginWriting" heapSize="100" maxThreshold="30" maxThresholdEvents="50" slaveCallEvents="false" />
      </defaultSettings>
      <settings>
        <marginRequirement />
      </settings>
    </parallelMarginRequirement>

    <!--Parameters for parallel process Cash-Balance-->
    <parallelCashBalance>
      <defaultSettings>
        <add name="LoadFlows" />
        <add name="CashBalance" heapSize="300" maxThreshold="30" maxThresholdEvents="100" slaveCallEvents="false" />
      </defaultSettings>
      <settings>
        <cashBalance />
      </settings>
    </parallelCashBalance>
  </parallelSettings>

  <applicationSettings>
    <EFS.SpheresRiskPerformance.Properties.Settings>
      <setting name="UseOriginalTradeLoading" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimsPositionExtendedReport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PositionExtendedReport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EurexPremiumFactorsReport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DataValueMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CreateMaterializedView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataReaderMode" serializeAs="String">
        <value>True</value>
      </setting>
    </EFS.SpheresRiskPerformance.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <EFS.SpheresRiskPerformance.Properties.Settings>
      <setting name="EurexAdditionalExchRateReport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseOriginalCalculationSheetSerialization" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EurexAdditionalContractFactorsReport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EurosysReportPath" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="EurosysSchemaPrefix" serializeAs="String">
        <value>dbo.</value>
      </setting>
      <setting name="IsRoundedCashBalance" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsCashPaymentFromCashBalanceForInterest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerifyUnchangedCashBalance" serializeAs="String">
        <value>True</value>
      </setting>
    </EFS.SpheresRiskPerformance.Properties.Settings>
  </userSettings>

  <system.diagnostics>
    <sources>
      <source name="SpheresTrace" switchValue="Information">
        <listeners>
          <add name="SpheresTraceListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="~\Trc_.txt" traceOutputOptions="DateTime" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="SpheresTraceTime" switchValue="Off">
        <listeners>
          <add name="SpheresTraceTimeListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="~\TrcTime_.txt" traceOutputOptions="DateTime" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISpheresLoggerService" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8736/SpheresLogger/SpheresLoggerService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpheresLoggerService" contract="LoggerService.ISpheresLoggerService" name="BasicHttpBinding_ISpheresLoggerService" />
    </client>
  </system.serviceModel>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
