<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <publishUrl>..\DeploySpheres</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <ExcludeFoldersFromDeployment>Trial;CustomerPortal</ExcludeFoldersFromDeployment>
    <ExcludeFilesFromDeployment>
      bin\Oracle.DataAccess.dll;
      ErrorLogsFiles\*.xml;
      Images\Logo_Entity\**\*.*;
      Javascript\JQuery\Readme-JSandCSS-Minify.xlsx;
      webCustom.config;
      Javascript/Monitoring.js;
      Includes/Banner.css;
      Includes/ClosingReopeningPosition.css;
      Includes/CorporateActions.css;
      Includes/DerivateContractUpdateMaturityRule.css;
      Includes/EFSTheme-vdark.css;
      Includes/EFSTheme-vlight.css;
      Includes/EFSThemeCommon.css;
      Includes/EFSUISprites.css;
      Includes/EntityMarket.css;
      Includes/fontawesome-all.css;
      Includes/fontawesome.css;
      Includes/Monitoring.css;
      Includes/Summary.css;
      Includes/Tracker.css;
      Javascript/Tracker.js;
      Javascript/PageReferential.js;
      Javascript/Referential.js;
      Javascript/Trade.js;
      Javascript/PageBase.js;
      Javascript/ReferentialCommon.js;
      Javascript/JQuery/jquery-3.7.1.js;
      Javascript/JQuery/jquery-ui-1.13.3.js;
      Javascript/JQuery/jquery-ui-1.13.3.css;
      Javascript/JQuery/jquery-ui-timepicker.css;
      Javascript/JQuery/jquery-ui-timepicker.js;
      Javascript/JQuery/jquery.blockUI-2.70.0.js;
      Javascript/JQuery/jquery.cookie-3.0.5.js;
      Javascript/JQuery/jquery.dialogwrapper.js;
      Javascript/JQuery/jquery.nicefileinput.js;
      Javascript/JQuery/jquery.qtip2.js;
      Javascript/JQuery/jquery.qtip2.css;
      Javascript/JQuery/jquery-ui-1.13.3.culture.js;
      Javascript/JQuery/jquery.freezegrid.js;
      Javascript/JQuery/jquery.infiniteslidev2.js;
      Javascript/Summary.js;
      Includes/FedAuth.css;
      Includes/default.css;
      Javascript/Default.js;
      Javascript/ListFilter.js;
      Javascript/ListSearchAutocomplete.js;
      Javascript/LstCriteria.js;
    </ExcludeFilesFromDeployment>
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <Target Name="CopyEfs">
    <ItemGroup>
      <_CustomFiles Include="Images\Logo_Entity\EuroFinanceSystems\*.png" />
      <FilesForPackagingFromProject Include="%(_CustomFiles.Identity)">
        <DestinationRelativePath>Images\Logo_Entity\EuroFinanceSystems\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <PropertyGroup>
    <CopyAllFilesToSingleFolderForPackageDependsOn>CopyEfs;</CopyAllFilesToSingleFolderForPackageDependsOn>
  </PropertyGroup>
</Project>