<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d'informations sur l'utilisation de la transformation web.config, consultez la page http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Dans l'exemple ci-dessous, la transformation "SetAttributes" changera la valeur de 
    "connectionString" afin d'utiliser "ReleaseSQLServer" uniquement lorsque le localisateur "Match" 
    trouve un attribut "name" qui a une valeur "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      Dans l'exemple ci-dessous, la transformation "Replace" remplacera toute la section 
      <customErrors>  de votre fichier web.config.
      Dans la mesure où il n'y a qu'une section customErrors sous le 
      nœud <system.web>, il n'est pas nécessaire d'utiliser l'attribut "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <appSettings xdt:Transform="Replace" file="WebCustom.config">
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="vs:EnableBrowserLink" value="false"/>

    <add key="Software" value="EFS"/>
    <add key="AuthenticateType" value="RDBMS"/>
    <add key="AutoLogin" value="true"/>
    <add key="SqlServerTemplateConnectionString" value="Data Source=SERVERNAME();Initial Catalog=DBNAME();Persist Security Info=False;User Id=USERNAME();Password=PWD();Workstation Id=127.0.0.1;Packet Size=4096"/>
    <add key="OracleTemplateConnectionString" value="Data Source=SID();User ID=SCHEMA();Password=PWD();"/>
    <add key="Spheres_StyleSheet" value="EFSThemeBlue.css"/>
    <!-- <add key="Spheres_LogoLeft" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_LogoRight" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_WelcomeHeader" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_WelcomeBody" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_WelcomeFooter" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_DefaultHomePage" value="http://www.euro-finance-systems.fr" /> -->
    <add key="Spheres_TradeSearch_actor" value="IDENTIFIER"/>
    <add key="Spheres_TradeSearch_book" value="IDENTIFIER"/>
    <add key="Spheres_TradeSearch_security" value="IDENTIFIER;ISINCODE;DISPLAYNAME;DESCRIPTION"/>
    <add key="Spheres_TradeSearch_assetETD" value="IDENTIFIER;ASSETSYMBOL;ISINCODE;DISPLAYNAME;DESCRIPTION"/>
    <add key="Spheres_TradeSearch_rateindex" value=""/>
    <add key="Spheres_NextBlock_AccessKey" value="N" />
    <add key="Spheres_InputButton_TabActivation" value="false"/>
    <add key="Spheres_ReferentialDefault_country" value="IT"/>
    <add key="Spheres_ReferentialDefault_currency" value="EUR"/>
    <add key="Spheres_ReferentialDefault_culture" value="it-IT"/>
    <add key="Spheres_ReferentialDefault_businesscenter" value="ITMI"/>
    <!--add key="Spheres_ReferentialDefaultEnabled_ACTOR" value="false"/>
  <add key="Spheres_ReferentialDefaultEnabled_MENU" value="false"/>
  <add key="Spheres_ReferentialDefaultEnabled_PERMISSION" value="false"/>
  <add key="Spheres_ReferentialDefaultEnabled_ACTORMODEL" value="true"/>
  <add key="Spheres_ReferentialDefaultEnabled_MENUMODEL" value="true"/>
  <add key="Spheres_ReferentialDefaultEnabled_PERMISSIONMODEL" value="false"/-->
    <add key="Spheres_MinDate" value="1980-01-01"/>
    <add key="Spheres_MaxDate" value="2079-05-31"/>
    <add key="Spheres_Collation" value="CS"/>
    <add key="Spheres_DataViewMaxRows" value="5000"/>
    <!--add key="PORTALHelpUrl" value="helpOnline"/-->
    <add key="FpMLHelpUrl" value="http://www.fpml.org/spec/fpml-4-4-4-wd-3/html/"/>
    <add key="FpMLHelpVersion" value="4-4"/>
    <add key="FixMLHelpUrl" value="http://www.fixprotocol.org/FIXimate3.0/en/"/>
    <add key="FixMLHelpVersion" value="5.0SP1"/>
    <add key="EFSmLHelpSchemas" value="true"/>
    <add key="EFSmLHelpSchemasUrl" value="HelpSchemas"/>
    <add key="EFSmLHelpSchemasVersion" value="3-0"/>
    <add key="Spheres_LogsXMLFile" value="ErrorLogsFiles\ErrorLog.xml"/>
    <add key="Spheres_LogsTXTFile" value="ErrorLogsFiles\ErrorLog.txt"/>
    <add key="Spheres_ErrorEmailSmtpServer" value="smtp.provider.com"/>
    <add key="Spheres_ErrorEmailSender" value="xxx@yyy.com"/>
    <add key="Spheres_ErrorEmailReceiver" value="support@euro-finance-systems.com"/>
    <add key="Spheres_ErrorEmailSubject" value="Spheres Error Message"/>
    <add key="MOMType" value="FileWatcher"/>
    <add key="MOMPath" value="C:\Spheres Services\Queue"/>
    <add key="MOMEncrypt" value="false"/>
    <add key="Spheres_TraceRDBMS" value="0"/>
    <add key="Spheres_TraceRDBMS_Username" value="*"/>
    <add key="Spheres_TraceRDBMS_Hostname" value="*"/>
    <add key="Spheres_DebugDesign" value="0"/>
    <add key="Spheres_DebugClientId" value="0"/>
    <add key="Spheres_DebugFpML" value="0"/>
    <add key="EFS_SourceDisplay" value="HIDE" />
    <add key="EFS_Hash" value="None" />
    <add key="EFS_IsPwdCrypted" value="0" />
    <add key="EFS_RdbmsName" value="SQLSRV2K" />
    <add key="EFS_ServerName" value="serveur-feed-bk" />
    <add key="EFS_DatabaseName" value="Portail" />
    <add key="EFS_UserName" value="sa" />
    <add key="EFS_Pwd" value="efs94130*" />
    <add key="EFS_RdbmsNameLog" value="" />
    <add key="EFS_UserNameLog" value="" />
    <add key="EFS_PwdLog" value="" />
    <add key="EFS_IsPwdCryptedLog" value="" />
    <add key="EFS_ServerNameLog" value="" />
    <add key="EFS_DatabaseNameLog" value="" />
    <add key="DataCacheEnabled" value ="true"/>
    <add key="DataCacheEnabledInterval" value="5"/>
    <add key="DataCacheCleanInterval" value="20"/>
    <add key="DataCacheMinRows" value=""/>
    <add key="DataCacheMaxRows" value="50"/>
  </appSettings>

</configuration>