<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Ajax FI-->
  <configSections>
    <!-- Secure web pages module - application config -->
    <!-- EG 20160308 Migration vs2013 -->
    <!--<section name=" " type="SecuritySwitch.Configuration.Settings, SecuritySwitch" requirePermission="false" />-->
    <section name="csvSection" type="EFS.Common.CsvSection, EFS.Common" requirePermission="false" />
  </configSections>
  <!-- Custom setting link for export from CSV format-->
  <csvSection configSource="csvCustomSettings.config" />
  <!-- EG 20160308 Migration vs2013 -->
  <!-- SecureSwitch web - list HTTPS links -->
  <!--<securitySwitch mode="Off" bypassSecurityWarning="true">
    <paths>
      <add path="~/Banner.aspx"/>
      <add path="~/ChangePwd.aspx"/>
      <add path="~/Default.aspx"/>
      <add path="~/EntityMarket.aspx"/>
      -->
  <!--<add path="~/List.aspx?Log=" security="Insecure" />
      <add path="~/List.aspx" />-->
  <!--
      <add path="~/Login.aspx"/>
      <add path="~/Sommaire.aspx"/>
      <add path="~/Setup.aspx"/>
      <add path="~/Tracker.aspx"/>
      <add path="~/TrackerContent.aspx"/>
      <add path="~/Welcome.aspx"/>
      <add path="~/Javascript/" security="Ignore"/>
    </paths>
  </securitySwitch>-->
  <!-- appSettings description 
      ________________________________________________________________________________________________
      SOFTWARE
      ________________________________________________________________________________________________
      "Software" Software name {Spheres | Vision}
            Spheres: Spheres OTCml/F&Oml
            Vision : Spheres Vision
      ________________________________________________________________________________________________
      MESSAGE-ORIENTED MIDDLEWARE
      ________________________________________________________________________________________________       
      "MOMType" MOM Type {FileWatcher | MSMQ | MQSeries}
            FileWatcher: Windows directory
            MSMQ       : Microsoft Message Queuing 
            MQSeries   : IBM MQ Series (WebSphere MQ)
      "MOMPath" MOM Path
      "MOMEncrypt" Message encryption {true | false}
            true : Encryption
            false: No encryption
      ________________________________________________________________________________________________
      AUTHENTICATION
      ________________________________________________________________________________________________
      "AutoLogin" Type {true | false}
            true : Allow the establishment of an automatic connection using the last profile used
            false: Unallowable the establishment of an automatic connection using the last profile used
      "AuthenticateType" Type {RDBMS | LDAP | DomainNT}
            RDBMS   : Authenticated through sql table (ACTOR)
            LDAP    : Authenticated through directory (LDAP)
            DomainNT: Authenticated through domain (NT)
      "Spheres_Hash" Hash algorithm for storage of passwords (only available in RDBMS authentication) {MD5 | SHA1 | SHA256 | SHA384 | SHA512 | None;[MD5 | SHA1 | SHA256 | SHA384 | SHA512 | None;Date]}
            First : Mandatory. The new hash value
            Second: Optional. The old hash value
            Third : Optional. The validated end date (YYYY-MM-DD) of the old hash value
            e.g. SHA256;MD5;2021-03-01
            NB: MD5 and SHA1 are deprecated.
      ________________________________________________________________________________________________
      RDBMS CONNECTION
      ________________________________________________________________________________________________       
      "Spheres_SourceDisplay" Display/Enabled parameters (ENABLED | ENABLED_DatabaseName | DISABLED | HIDE)
            ENABLED             : Visible and adjustable
            ENABLED_DatabaseName: Visible and adjustable (DatabaseName only)
            DISABLED            : Visible and not adjustable
            HIDE                : No visible
      "Spheres_RdbmsName" RDBMS {SQLSRV2K8 | SQLSRV2K12 | SQLSRV2K14 | SQLSRV2K16 | SQLSRV2K17 | SQLSRV2K19 | ORACL12C | ORACL18C | ORACL19C}
            SQLSRV2K8 : MS SQLServer 2008
            SQLSRV2K12: MS SQLServer 2012
            SQLSRV2K14: MS SQLServer 2014
            SQLSRV2K16: MS SQLServer 2016
            SQLSRV2K17: MS SQLServer 2017
            SQLSRV2K19: MS SQLServer 2019
            ORACL12C  : Oracle 12c
            ORACL18C  : Oracle 18c
            ORACL19C  : Oracle 19c
      "Spheres_ServerName"   MS SQLServer Server Name / Oracle Instance Name
      "Spheres_DatabaseName" MS SQLServer Database Name / Oracle Schema Name
      "Spheres_UserName"    MS SQLServer login name / Oracle Schema Name
      "Spheres_Pwd" MS SQLServer login password / Oracle schema password
      "Spheres_IsPwdCrypted" Password encryption {true | false}
            true : Encryption.
            false: No encryption.
      WARNING: on Oracle, UserName and DatabaseName must be identic.
      
      ConnectionString dynamic values:
            SERVERNAME(): Dynamically replaced by Ms SQLServer server name
            DBNAME()    : Dynamically replaced by Ms SQLServer database name
            USERNAME()  : Dynamically replaced by Ms SQLServer login name
            SID()       : Dynamically replaced by Oracle instance name
            SCHEMA()    : Dynamically replaced by Oracle schema name
            PWD()       : Dynamically replaced by Ms SQLServer login password / Oracle schema password
            WEBSITE()   : Dynamically replaced by Web site name
      ________________________________________________________________________________________________
      SYSTEM
      ________________________________________________________________________________________________       
      "Spheres_Collation" Collation used for the comparisons of data {CI | CS}
            CI: Case insensitive
            CS: Case sensitive
      "Spheres_MinDate"         Minimal date authorized on the input data
      "Spheres_MaxDate"         Maximal date authorized on the input data
      "Spheres_DataViewMaxRows" Max rows authorized for viewver
      ________________________________________________________________________________________________
      DEFAULT
      ________________________________________________________________________________________________       
      "Spheres_StyleSheetMode"       Default CSS Mode {vdark | vlight}
      "Spheres_BannerLeft"           Default banner left logo  
      "Spheres_BannerRight"          Default banner right logo 
      "Spheres_WelcomeHeader"        Default welcome header logo 
      "Spheres_WelcomeBody"          Default welcome body logo 
      "Spheres_WelcomeFooter"        Default welcome footer logo 
      "Spheres_DefaultHomePage"      Default home page 
      "Spheres_ReferentialDefault_*" Default value for referentials
  -->
  <appSettings file="WebCustom.config">
    <!-- EG 20160308 Migration vs2013 -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="Software" value="Spheres" />
    <add key="MOMType" value="FileWatcher" />
    <add key="MOMPath" value="C:\SpheresServices\Queue" />
    <add key="MOMEncrypt" value="false" />
    <add key="SqlServerTemplateConnectionString" value="Data Source=SERVERNAME();Initial Catalog=DBNAME();Persist Security Info=False;User Id=USERNAME();Password=PWD();Workstation Id=127.0.0.1;Packet Size=4096" />
    <add key="OracleTemplateConnectionString" value="Data Source=SID();User ID=SCHEMA();Password=PWD();" />
    <add key="OracleWithoutTnsnamesConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SID())));User ID=SCHEMA();Password=PWD();" />
    <add key="isTrace" value="true" />
    <add key="isTraceTime" value="true" />
    <add key="isUseCustomStatus" value="true" />
    <add key="AutoLogin" value="true" />
    <add key="AuthenticateType" value="RDBMS" />
    <add key="LDAP_Domain" value="" />
    <add key="LDAP_Filter" value="" />
    <add key="LDAP_Identifier" value="" />
    <add key="Spheres_Hash" value="MD5" />
    <add key="Spheres_SourceDisplay" value="HIDE" />
    <add key="Spheres_RdbmsName" value="ORACL12C|SQLSRV2K19" />
    <add key="Spheres_ServerName" value="SID|MSSQL" />
    <add key="Spheres_DatabaseName" value="SPHERES" />
    <add key="Spheres_UserName" value="SPHERES" />
    <add key="Spheres_Pwd" value="*****" />
    <add key="Spheres_IsPwdCrypted" value="0" />
    <add key="Spheres_LogConsultMode" value="Admin" />
    <add key="Spheres_Collation" value="CS" />
    <add key="Spheres_MinDate" value="1980-01-01" />
    <add key="Spheres_MaxDate" value="2079-05-31" />
    <add key="Spheres_DataViewMaxRows" value="5000" />
    <add key="DataCacheEnabled" value="true" />
    <add key="DataCacheEnabledInterval" value="20" />
    <add key="DataCacheCleanInterval" value="30" />
    <add key="DataCacheMinRows" value="" />
    <add key="DataCacheMaxRows" value="50" />
    <add key="DataRestrictionEnabled" value="yes" />
    <!-- EntityMarket refreshed each 5 minutes -->
    <add key="EntityMarket_RefreshInterval" value="300" />
    <add key="EntityMarket_Banner" value="true" />
    <add key="Spheres_StyleSheetMode" value="vdark" />
    <!-- <add key="Spheres_BannerLeft" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_BannerRight" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_WelcomeHeader" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_WelcomeBody" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_WelcomeFooter" value="/Images/Logo_Entity/EuroFinanceSystems/Logo_EuroFinanceSystems.gif" /> -->
    <!-- <add key="Spheres_DefaultHomePage" value="http://www.euro-finance-systems.fr" /> -->
    <add key="Spheres_TradeRemoveReplace_StPriority" value="HIGH" />
    <add key="Spheres_NextBlock_AccessKey" value="N" />
    <add key="Spheres_InputButton_TabActivation" value="false" />
    <add key="Spheres_TradeSearch_actor" value="IDENTIFIER" />
    <add key="Spheres_TradeSearch_book" value="IDENTIFIER" />
    <add key="Spheres_TradeSearch_security" value="IDENTIFIER;ISINCODE;DISPLAYNAME;DESCRIPTION" />
    <add key="Spheres_TradeSearch_assetETD" value="IDENTIFIER;ASSETSYMBOL;ISINCODE;DISPLAYNAME;DESCRIPTION" />
    <add key="Spheres_TradeSearch_commodityAsset" value="IDENTIFIER;DISPLAYNAME;DESCRIPTION" />
    <add key="Spheres_TradeSearch_rateindex" value="" />
    <!--FI 20200122 [25175] Add TradeDisplay key (Spheres display only code ISIN) -->
    <add key="Spheres_TradeDisplay_assetETD" value="ISIN" />
    <add key="Spheres_TradeDisplay_equitysecurity" value="ISIN" />
    <add key="Spheres_ReferentialDefault_country" value="FR" />
    <add key="Spheres_ReferentialDefault_currency" value="EUR" />
    <add key="Spheres_ReferentialDefault_culture" value="fr-FR" />
    <add key="Spheres_ReferentialDefault_businesscenter" value="FRPA" />
    <add key="Spheres_ReferentialDefaultEnabled_ACTOR" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_ASSET_ETD" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_INSTRUMENT" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_MARKET" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_MENU" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_PERMISSION" value="false" />
    <add key="Spheres_ReferentialDefaultEnabled_QUOTE_FXRATE_H" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_QUOTE_RATEINDEX_H" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_QUOTE_INDEX_H" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_QUOTE_ETD_H" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_INSTRUMENTMODEL" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_ACTORMODEL" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_MARKETMODEL" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_MENUMODEL" value="true" />
    <add key="Spheres_ReferentialDefaultEnabled_PERMISSIONMODEL" value="false" />
    <add key="SpheresHelpUrl" value="HelpOnline" />
    <add key="FpMLHelpUrl" value="http://www.fpml.org/spec/fpml-4-4-4-wd-3/html/" />
    <add key="FpMLHelpVersion" value="4-4" />
    <add key="FixMLHelpUrl" value="http://www.fixprotocol.org/FIXimate3.0/en/" />
    <add key="FixMLHelpVersion" value="5.0SP1" />
    <add key="EFSmLHelpSchemas" value="true" />
    <add key="EFSmLHelpSchemasUrl" value="HelpSchemas" />
    <add key="EFSmLHelpSchemasVersion" value="3-0" />
    <add key="Spheres_LogsXMLFile" value="ErrorLogsFiles\ErrorLog.xml" />
    <add key="Spheres_LogsTXTFile" value="ErrorLogsFiles\ErrorLog.txt" />
    <add key="Spheres_ErrorEmailSmtpServer" value="smtp.provider.com" />
    <add key="Spheres_ErrorEmailSender" value="xxx@yyy.com" />
    <add key="Spheres_ErrorEmailReceiver" value="spheres@euro-finance-systems.com" />
    <add key="Spheres_ErrorEmailSubject" value="Spheres Error Message" />
    <add key="Spheres_TraceRDBMS" value="0" />
    <add key="Spheres_TraceRDBMS_Username" value="*" />
    <add key="Spheres_TraceRDBMS_Hostname" value="*" />
    <add key="Spheres_DebugDesign" value="0" />
    <add key="Spheres_DebugClientId" value="0" />
    <add key="Spheres_DebugFpML" value="0" />
    <!-- HACKATTEMPTSAFETY : USER +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- -->
    <add key="HackAttemptSafety_UserName_MaxDenials" value="3" />
    <add key="HackAttemptSafety_UserName_MaxDenialsWarning" value="-1" />
    <add key="HackAttemptSafety_UserName_ResetTime" value="60" />
    <add key="HackAttemptSafety_UserName_FactorResetTime" value="24" />
    <add key="HackAttemptSafety_UserName_MaxResetTime" value="2" />
    <!-- HACKATTEMPTSAFETY : HOSTNAME +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- -->
    <add key="HackAttemptSafety_HostName_MaxDenials" value="5" />
    <add key="HackAttemptSafety_HostName_MaxDenialsWarning" value="1" />
    <add key="HackAttemptSafety_HostName_ResetTime" value="60" />
    <add key="HackAttemptSafety_HostName_FactorResetTime" value="24" />
    <add key="HackAttemptSafety_HostName_MaxResetTime" value="2" />
    <!-- Enable/Disable Use of Logger Service +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- -->
    <add key="RemoteLogEnabled" value="true" />
  </appSettings>
  <!--//-->
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="true" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--  COMPILATION DE DÉBOGAGE DYNAMIQUE
          Définissez compilation debug="true" pour activer le débogage ASPX.  Si vous définissez cette valeur à
          false, les performances d'exécution de cette application seront améliorées. 
          Définissez compilation debug="true" pour insérer des symboles de débogage (informations .pdb)
          dans la page compilée. Dans la mesure où cela crée un fichier plus important qui s'exécute
          plus lentement, définissez cette valeur à true uniquement lors du débogage et à
          false toutes les autres fois. Pour plus d'informations, consultez la documentation relative au
          débogage des fichiers ASP.NET.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!-- 20210216 [25664] Security Hides the version of the ASP.NET engine being used. -->
    <httpRuntime maxRequestLength="40960" targetFramework="4.8" enableVersionHeader="false" requestValidationMode="4.5" />
    <!-- SecuritySwitch - definition -->
    <!--<httpModules>
      <add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch"/>
    </httpModules>-->
    <!--  MESSAGES D'ERREUR PERSONNALISÉS
          Définissez les valeurs du mode customError pour contrôler l'affichage des messages d'erreur 
          conviviaux aux utilisateurs au lieu des détails d'erreur (y compris la trace de la pile) :
          "On" Toujours afficher des messages (conviviaux) personnalisés  
          "Off" Toujours afficher les informations d'erreur ASP.NET détaillées.
          "RemoteOnly" Afficher des messages (conviviaux) personnalisés uniquement aux utilisateurs n'exécutant pas 
          sur le serveur Web local. Ce paramètre est recommandé à des fins de sécurité, afin de 
          ne pas afficher d'informations détaillées sur l'application aux clients distants.
    -->
    <customErrors defaultRedirect="Error.aspx" mode="Off">
      <error statusCode="404" redirect="Unavailable.aspx" />
    </customErrors>
    <!-- Si Customer Portal -->
    <!--<customErrors defaultRedirect="~/CustomerPortal/Page/Errors/DefaultError.aspx" mode="On">
    </customErrors>-->
    <!--  AUTHENTIFICATION 
          Cette section définit les stratégies d'authentification de l'application. Les modes possibles sont "Windows", "Forms", 
          "Passport" et "None"
    -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="20" />
    </authentication>
    <!-- Si Customer Portal -->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/CustomerPortal/Page/Login.aspx" timeout="20" />
    </authentication>-->
    
    <!-- identity impersonate="true"
    userName="eurosys\pascal"
    password="tanglang" / -->
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!--  ENREGISTREMENT DANS UN JOURNAL DES TRACES AU NIVEAU DE L'APPLICATION
          Les traces au niveau de l'application peuvent être enregistrées dans un journal pour chaque page dans une application. 
          Définissez trace enabled="true" pour activer l'enregistrement des traces dans un journal.  Si pageOutput="true", les
          informations des traces seront affichées en bas de chaque page.  Dans le cas contraire, vous pouvez afficher le
          journal des traces de l'application en parcourant la page "trace.axd" à partir de la racine de votre application
          Web. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <!--  PARAMÈTRES DE L'ÉTAT DE SESSION
          Par défaut ASP.NET utilise des cookies pour identifier les demandes qui appartiennent à une session donnée. 
          Si les cookies ne sont pas disponibles, une session peut être suivie en ajoutant un identificateur de session à l'URL. 
          Pour désactiver les cookies, définissez sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
    <!--  GLOBALISATION
          Cette section définit les paramètres de globalisation de l'application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!-- globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1"/ -->
    <xhtmlConformance mode="Transitional" />
  </system.web>
  <!--//-->
  <!--Ajax FI-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <scriptResourceHandler enableCompression="false" enableCaching="false" />
    </scripting>
  </system.web.extensions>
  <!--//-->
  <!-- FI 20210108 [XXXXX] Add SpheresTrace and SpheresTraceTime -->
  <system.diagnostics>
    <sources>
      <source name="SpheresTrace" switchName="SpheresTraceSwitch" switchType="System.Diagnostics.SourceSwitch" sqlDurationLimit="30">
        <listeners>
          <add name="SpheresTraceListener" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="SpheresTraceTime" switchName="SpheresTraceTimeSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="SpheresTraceTimeListener" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SpheresTraceSwitch" value="Information" />
      <add name="SpheresTraceTimeSwitch" value="Off" />
    </switches>
    <sharedListeners>
      <add name="SpheresTraceListener" type="System.Diagnostics.DelimitedListTraceListener"  initializeData="~\Temporary\Trc_.txt" traceOutputOptions="DateTime" />
      <add name="SpheresTraceTimeListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="~\Temporary\TrcTime_.txt" traceOutputOptions="DateTime" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>


  <!--Ajax FI-->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- 20210216 [25664] Security Hide the programming language used in Response Header -->
        <remove name="X-Powered-By" />
        <!-- EG 20210204 [25590] New -->
        <!--Note: X-Content-Type-Options only apply request-blocking due to nosniff for request destinations of "script" and "style". 
        However, it also enables Cross-Origin Read Blocking (CORB) protection for HTML, TXT, JSON and XML files (excluding SVG image/svg+xml).-->
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <!-- 20210216 [25664] Security the browser will only load the resource in an iframe if the request comes from the same site -->
        <remove name="X-Frame-Options" />
        <add name="X-Frame-Options" value="sameorigin" />
        <!-- 20210216 [25664] Security Referrer policy -->
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
    <!-- FI 20193112 [XXXXX] for prevent "Failed to load resource: the server responded with a status of 404 (Not Found)" Error message on .woff or .woff2 file -->
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <!-- EG 20160308 Migration vs2013 -->
    <!--<modules>
      <add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch"/>
    </modules>-->
    <handlers>
      <!-- DebugAssistantForVista PL 
      <add name="DebugHandler" verb="DEBUG" path="DebugAttach.aspx" type="System.Web.HttpDebugHandler"/> -->
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>

    <!-- 20210216 [25664] Security Change Server name in Response Header -->
    <rewrite>
      <outboundRules>
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="Spheres v.10" />
        </rule>
      </outboundRules>
    </rewrite>

  </system.webServer>
  <!--//-->
  <!-- LA BANNIERE NE SUPPORTE PAS D'AUTENTIFICATION PAR FORMULAIRE -->
  <location path="Banner.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="EntityMarket.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Welcome.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FedAuthLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FedAuthLogout.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FedAuthTimeout.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Profile.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="MSExcel.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Setup.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
        <allow roles="Admins" />
      </authorization>
    </system.web>
  </location>
  <location path="CaptchaPage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CsvHelper" publicKeyToken="8c4959082be5c823" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-26.0.0.0" newVersion="26.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.3.0" newVersion="2.12.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISpheresLoggerService" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8736/SpheresLogger/SpheresLoggerService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpheresLoggerService" contract="LoggerService.ISpheresLoggerService" name="BasicHttpBinding_ISpheresLoggerService" />
    </client>
  </system.serviceModel>

</configuration>